<h1 mat-dialog-title>Modify user's credits</h1>
<form [formGroup]="vpnForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-label>User VPN access</mat-label><br />
    <!-- User name -->
    <mat-form-field appearance="legacy">
      <mat-label>User identifier</mat-label>
      <input
        matInput
        placeholder="User identifier"
        formControlName="userName"
      /> </mat-form-field
    ><br />
    <!-- User password -->
    <mat-form-field appearance="legacy">
      <mat-label>User password</mat-label>
      <input
        matInput
        placeholder="User password"
        formControlName="userPassword"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button>Ok</button>
  </div>
</form>
