<!-- <mat-grid-list cols="6" rowHeight="270px"> -->
<!-- <span>Breakpoint: {{grid.cols}}</span>//test -->

<div *ngIf="projectList.length === 0" class="altDivProjects">
  <h2>Be part of projects to see them here !</h2>
</div>
<mat-grid-list
  *ngIf="projectList.length != 0"
  [cols]="breakpoint"
  rowHeight="2:2.5"
  (window:resize)="onResize($event)"
>
  <!-- <mat-grid-list #grid rowHeight="2:2.5"> -->
  <mat-grid-tile
    (click)="router.navigate(['/vision/project/' + project.project.id])"
    *ngFor="let project of projectList"
  >
    <div class="stackable">
      <div class="b-container">
        <mat-progress-spinner
          value="{{
            project.project.globalprogress != null
              ? project.project.globalprogress
              : 0
          }}"
          diameter="160"
          strokeWidth="10"
          class="project-image"
          [color]="updateColor(project.project.globalprogress)"
        >
        </mat-progress-spinner>
        <img
          src="{{ generateImgUrl(project) }}"
          src-fallback="{{ fallbackImage }}"
        />
      </div>
      <h1 class="mat-headline project-name">{{ project.project.name }}</h1>
      <h3 class="mat-subheading-2 project-role">
        {{ project.role.charAt(0) + project.role.slice(1).toLowerCase() }}
      </h3>
    </div>
  </mat-grid-tile>
</mat-grid-list>
