.b-container {
  display: inline-block;
  position: relative;
}

img {
  max-width: 100%;
  position: absolute;
  max-height: 100%;
  top: 2px;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(45% at 50% 49%);
  cursor: pointer;
  border: 6px solid white;
}

.stackable {
  margin: auto;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.project-name {
  margin: 10px 0 0;
  color: #707070;
}

.project-role {
  font: 500 16px/28px Roboto, 'Helvetica Neue', sans-serif;
  margin: 0 0 16px;
  color: #bababa;
}

.ng-star-inserted {
  margin-top: 5%;
}

//text more responsive:
h1.mat-headline.project-name {
  font-size: 100%;
  font-weight: bold;
}

h3.mat-subheading-2.project-role {
  font-size: 100%;
}

:host {
  height: 100%;
  width: 100%;
  margin-top: 30px;

  .altDivProjects {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;

    h2 {
      color: lightgrey;
      font-size: 30px;
      align-self: center;
    }
  }
}

::ng-deep .mat-progress-spinner,
.mat-spinner {
  circle {
    stroke: green;
  }
}
