mat-form-field {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:100%;
}

.mat-dialog-content {
  margin-bottom: -20px;
}

small{
  color:#c60800;
  font-style: italic;
  line-height: 1;
  // margin-left: 100px;
  font-weight: 500;
}

p.order, span {
  font-weight: 600;
  text-align: center;
}

ol, p {
  color: rgba(100,100,100,1);
  font-size: 0.8rem;
}


h1 {
  text-align: center;
  border-bottom: 1px solid rgba(150,150,150,0.5);
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight:600;
}

.mat-dialog-actions {
  float: right;
}

.send{
  color:#c60800;
  background-color: transparent;
}

.send:hover{
background-color: #c60800;
color:white;
}

.mat-select-panel {
  height: 130%!important;
}

 // Custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #c60800;;
  }


// h1 {
//   // background:rgba(0,0,0,0.8);
//   // color:white;
//   padding:1em 0;
//   text-align:center;
//   overflow:hidden;
//   // font-size:26px;
//   // font-family:georgia;
// }

// h1:before, h1:after {
//   content:'';
//   width:3em;
//   border-bottom:rgba(100,100,100,1) solid;
//   display:inline-block;
//   vertical-align:middle;
// }
// h1:before {
//   margin-left:-100%;
// margin-right:2em}
// h1:after {
//   margin-right:-100%;
// margin-left:2em;}
