<h1 mat-dialog-title>Add a new project</h1>
<div mat-dialog-content>
  <!-- <p>
    Only set the name here, you will be able to edit it later <br />
    <small> (recommendation: customer_projectName)</small>
  </p> -->

  <!-- <ol>
    <li>Only admin can set the managers/customers/guests + the image</li>
    <li>Then, the project manager will be able to access, in z-vision, to set:</li>
      <ol>
        <li>... the start/end and next meeting date</li>
        <li>... the progress</li>
        <li>... all technical data</li>
      </ol>
  </ol> -->

  <br />
  <br />

  <mat-form-field>
    <mat-label>Project name: (recommendation: customer_projectName)</mat-label>
    <input matInput [(ngModel)]="data.projectName" />
  </mat-form-field>
</div>

<div class="buttons">
  <div mat-dialog-actions>
    <button class="cancel" mat-button (click)="onCancelClick()">Cancel</button>
    <button class="send" mat-button [mat-dialog-close]="data" cdkFocusInitial>
      Ok
    </button>
  </div>
</div>
