<mat-form-field appearance="fill">
  <mat-label>Number per line</mat-label>
  <mat-select
    [value]="colonWidth"
    placeholder="State"
    (selectionChange)="reRender($event.value)"
  >
    <mat-option [value]="1">4</mat-option>
    <mat-option [value]="2">2</mat-option>
    <mat-option [value]="4">1</mat-option>
  </mat-select>
</mat-form-field>

<div class="wrapper">
  <mat-grid-list cols="4" rowHeight="9:6">
    <mat-grid-tile
      *ngFor="let file of files; let i = index"
      [colspan]="colonWidth"
      [rowspan]="colonWidth === 4 ? 3 : colonWidth"
    >
      <div style="display: block; margin: auto;">
        <div class="chips-wrap">
          <mat-chip-list aria-label="Information">
            <mat-chip matTooltip="Package">P: {{ file.package }}</mat-chip>
            <mat-chip matTooltip="Id">Id: {{ file.id }}</mat-chip>
            <mat-chip matTooltip="Filename" color="primary">{{
              file.filename
            }}</mat-chip>
            <mat-chip
              (click)="openElementInsight(files, i)"
              matTooltip="Comments"
              [matBadge]="file.commentNbr || null"
              matBadgePosition="below after"
              color="primary"
              ><mat-icon>comment</mat-icon></mat-chip
            >
          </mat-chip-list>
        </div>
        <div (click)="openElementInsight(files, i)">
          <img
            mat-card-image
            [src]="getUrl(file)"
            alt="{{ file.filename }}"
            matTooltip="{{ file.filename }}"
          />
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
