<div class="header">
  <button (click)="this.refresh()">
    <mat-icon>refresh</mat-icon>
  </button>

  <div class="headerBar">
    <div class="mainInfo">
      <div class="title">
        <h3>Total credits bought</h3>
      </div>
      <div class="content">
        {{ this.userInfos.totCredits }}
        <mat-icon>euro</mat-icon>
      </div>
    </div>
    <div class="mainInfo">
      <div class="title">
        <h3>Credits remaining</h3>
      </div>
      <div class="content">
        {{ this.userInfos.credits.toFixed(2) }}
        <mat-icon>euro</mat-icon>
      </div>
    </div>
    <div class="mainInfo">
      <div class="title">
        <h3>Average job cost</h3>
      </div>
      <div class="content">
        {{ this.averageJobCost }}
        <mat-icon>euro</mat-icon>
      </div>
    </div>
  </div>
  <!-- <div class="progressBarHeader">
      <div class="leftSide">
        {{
          this.userInfos.totCredits === 0
            ? 100
            : 100 - (this.userInfos.credits * 100) / this.userInfos.totCredits
        }}% done<br />
        {{ this.userInfos.totCredits - this.userInfos.credits }}€ credits used
      </div>
      <div class="rightSide">
        {{
          this.userInfos.totCredits === 0
            ? 0
            : (this.userInfos.credits * 100) / this.userInfos.totCredits
        }}% remaining<br />
        {{ this.userInfos.credits }}€ credits remaining
      </div>
    </div>
    <mat-progress-bar
      class="mainBar"
      mode="determinate"
      value="{{ (this.userInfos.credits * 100) / this.userInfos.totCredits }}"
    ></mat-progress-bar> -->
</div>
<h3>
  Usages resume
</h3>
<table
  mat-table
  [dataSource]="this.dataSourceResume"
  matSort
  #resumeSort="matSort"
>
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
    <td mat-cell *matCellDef="let element">{{ element.month }}</td>
  </ng-container>
  <ng-container matColumnDef="cpu">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Compute usage (core per hour)
    </th>
    <td mat-cell *matCellDef="let element">{{ element.cpu }}</td>
  </ng-container>
  <ng-container matColumnDef="credits">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Charge</th>
    <td mat-cell *matCellDef="let element">{{ element.credits }}€</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsResume"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsResume"></tr>
</table>
<h3>
  Usages details
</h3>
<table
  mat-table
  [dataSource]="this.dataSourceDetails"
  matSort
  #detailsSort="matSort"
  matSortActive="date"
  matSortDirection="desc"
  matSortStart="desc"
>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.operationDate | date: 'short' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation</th>
    <td
      mat-cell
      *matCellDef="let element"
      style="color: {{ this.getColor(element.amount) }}"
    >
      {{ this.getSymbol(element.amount) }}{{ element.amount }} €
    </td>
  </ng-container>

  <!-- This is disabled because it's confusing -->
  <!-- <ng-container matColumnDef="creditsAfter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Credits after</th>
    <td mat-cell *matCellDef="let element">{{ element.creditsAfter }}</td>
  </ng-container> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsDetails"></tr>
</table>
