:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;

    button {
      width: 40px;
      height: 40px;
      margin-top: 20px;
      margin-right: 15px;
      align-self: center;
    }

    .headerBar {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .mainInfo {
        height: 100px;
        width: 180px;
        border: solid 1px lightgrey;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);

        .title {
          text-align: center;

          h3 {
            font-size: 18px;
            color: black;
            font-weight: 500;
          }
        }

        .content {
          padding-left: 5%;
          text-align: center;
          color: #c60800;
          font-size: 17px;
          font-weight: 500;

          mat-icon {
            font-size: 22px;
          }
        }
      }
    }
  }

  h3 {
    margin: 7% 0 10px 0;
    color: rgb(150, 150, 150);
    font-weight: 500;
  }

  table {
    width: 90%;
    align-self: center;

    th,
    td {
      text-align: center;
      padding: 0;
    }
    .mat-row:hover {
      background-color: rgb(224, 224, 224);
    }

    th {
      ::ng-deep .mat-sort-header-container {
        padding-left: 8px;
        text-align: center;
        display: inline-block;
        width: 100%;

        button {
          display: inline-block;
        }

        ::ng-deep .mat-sort-header-arrow {
          display: inline-flex;
        }
      }
    }

    td {
      border-right: none;
      border-left: none;
    }
  }
}
