<mat-form-field appearance="fill">
  <mat-label>Number per line</mat-label>
  <mat-select
    [value]="4"
    placeholder="State"
    (selectionChange)="reRender($event.value)"
  >
    <mat-option [value]="1">4</mat-option>
    <mat-option [value]="2">2</mat-option>
    <mat-option [value]="4">1</mat-option>
  </mat-select>
</mat-form-field>

<div class="wrapper">
  <mat-grid-list cols="4" rowHeight="52vh">
    <mat-grid-tile
      *ngFor="let plot of plots$ | async; let i = index"
      [colspan]="colonWidth"
    >
      <mat-card style="width: 99%; height: 95%;">
        <mat-card-content #card *ngIf="layout$ | async as layout">
          <!----------------
          Open config window for the plot
          ----------------->
          <!--          <button-->
          <!--            class="edit-button"-->
          <!--            mat-icon-button-->
          <!--            (click)="openEditDialog(layout[i], files[i], plot, i)"-->
          <!--            aria-label="Config display options"-->
          <!--          >-->
          <!--            <mat-icon>settings</mat-icon>-->
          <!--          </button>-->

          <!----------------
          Chips to recap general information about the file
          ----------------->
          <div class="chips-wrap">
            <mat-chip-list aria-label="Information">
              <mat-chip (click)="openEditDialog(layout[i], files[i], plot, i)">
                <mat-icon>settings</mat-icon>
              </mat-chip>
              <mat-chip matTooltip="Package">{{ files[i].package }}</mat-chip>
              <mat-chip matTooltip="Id">{{ files[i].id }}</mat-chip>
              <mat-chip matTooltip="Filename" color="primary">{{
                files[i].filename
              }}</mat-chip>
              <mat-chip
                (click)="openElementInsight(files, i)"
                matTooltip="Comments"
                [matBadge]="files[i].commentNbr || null"
                color="primary"
                ><mat-icon>comment</mat-icon></mat-chip
              >
            </mat-chip-list>
          </div>

          <!----------------
          Plotly plot (external lib)
          ----------------->
          <plotly-plot
            *ngIf="layout[i]"
            id="plot{{ i }}"
            [data]="plot"
            [layout]="layout[i]"
            [useResizeHandler]="true"
            [ngStyle]="{
              poistion: 'relative',
              width: '50%',
              height: '100%'
            }"
          >
          </plotly-plot>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
