.wrapper {
  overflow: auto;
  height: calc(100vh - 322px);
}

.edit-button {
  position: absolute;
  z-index: 100
}


.mat-chip-list-wrapper {
  margin-top: 2px;
}

.chips-wrap {
  margin-left: 40px; margin-bottom: 4px
}
