<div *ngIf="!errorStatus">
  <h1 mat-dialog-title>
    Upload file(s) from computer
  </h1>
  <div mat-dialog-content>
    <div class="container" appDragAndDrop (fileDropped)="onFileDropped($event)">
      <input
        [accept]="getAcceptedFilesFilter()"
        type="file"
        #fileDropRef
        id="fileDropRef"
        multiple
        (change)="fileBrowseHandler($event.target.files)"
      />
      <img src="assets/dnd/ic-upload-file.svg" alt="" />
      <h3>{{ restriction }}</h3>
      <h3>Drag and drop file here</h3>
      <h3>or</h3>
      <label for="fileDropRef">Browse for file</label>
    </div>
    <div class="files-list">
      <div class="single-file" *ngFor="let file of files; let i = index">
        <img src="assets/dnd/ic-file.svg" width="45px" alt="file" />
        <div class="info">
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <p class="size">
            {{ file?.size }}
            <!--            {{ formatBytesAbstraction(file?.size) }}-->
          </p>

          <div class="progress-cont">
            <div class="progress" [style.width]="file?.progress + '%'"></div>
          </div>
        </div>
        <img
          src="assets/dnd/ic-delete-file.svg"
          class="delete"
          width="20px"
          alt="file"
          (click)="deleteFile(i)"
        />
      </div>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button (click)="uploadFiles(0)" cdkFocusInitial>
      Upload
    </button>
  </mat-dialog-actions>
</div>

<div *ngIf="errorStatus">
  <h1 matDialogTitle class="red-title">
    An error has occurred
  </h1>
  <mat-dialog-content>
    <div class="error-container">
      <p>Error {{ errorStatusCode }}</p>
      {{ errorMessage }}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Close</button>
  </mat-dialog-actions>
</div>
