<div #parent_element class="app-viewer-wrap">
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="tableRowExpandable" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title style="padding-top: 1%;">
          <mat-icon class="header-icon">
            table_rows
          </mat-icon>
          Table
        </mat-panel-title>

        <mat-panel-description>
          <div class="controls">
            <div class="left-part"></div>
            <div class="right-part">
              <button
                class="upload-button"
                mat-button
                (click)="openUploadDialog($event)"
              >
                Upload files
              </button>

              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Filter</mat-label>
                  <input
                    (keyup)="applyFilter($event)"
                    (click)="$event.stopPropagation()"
                    matInput
                    placeholder="Filter"
                  />
                </mat-form-field>
              </form>
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="table-container">
        <mat-table
          [dataSource]="tableDataSource"
          matSort
          class="mat-elevation-z8"
        >
          <!----------------
          Model selection (for multi delete)
          ----------------->
          <ng-container matColumnDef="selection">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                color="primary"
                class="margin_to_right"
                (change)="$event ? masterToggle() : null"
                [checked]="tableSelection.hasValue() && isAllSelected()"
                [indeterminate]="tableSelection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox
                color="primary"
                class="margin_to_right"
                (click)="$event.stopPropagation()"
                (change)="$event ? toggle(element) : null"
                [checked]="tableSelection.isSelected(element)"
              >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <!----------------
          Package column
          ----------------->
          <ng-container matColumnDef="package">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Package
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.package }}</mat-cell>
          </ng-container>

          <!----------------
          Id column
          ----------------->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Id
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
          </ng-container>

          <!----------------
          Filename column
          ----------------->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Filename
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
          </ng-container>

          <!----------------
          File size column as well as conversion spinner
          ----------------->
          <ng-container matColumnDef="size">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Size
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <!-- Check whereas the model is ready or it's in processing stage by checking the type of size (string or number-->
              <div *ngIf="checkSizeType(element.size); else elseBlock">
                {{ formatBytesWrapper(element.size) }}
              </div>
              <ng-template #elseBlock>
                <mat-spinner
                  class="example-margin"
                  diameter="25"
                  color="primary"
                  strokeWidth="3"
                ></mat-spinner>
                Converting
              </ng-template>
            </mat-cell>
          </ng-container>

          <!----------------
          Colormap state column
          ----------------->
          <ng-container matColumnDef="colormap">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Colormap
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.hascolormap ? 'yes' : 'no'
            }}</mat-cell>
          </ng-container>

          <!----------------
          Actions column (load and delete buttons)
          ----------------->
          <ng-container matColumnDef="actions">
            <mat-header-cell
              *matHeaderCellDef
              class="align-table-element-right"
            >
              <button
                *ngIf="
                  (userInfo.role === 'ADMIN' || userInfo.role === 'MANAGER') &&
                  tableSelection.selected.length > 0
                "
                matTooltip="Delete selected elements"
                aria-label="Button that allows to delete selected elements"
                mat-icon-button
                color="primary"
                (click)="deleteMultiple()"
              >
                <mat-icon
                  matBadge="{{ tableSelection.selected.length }}"
                  [matBadgeHidden]="tableSelection.selected.length === 0"
                  matBadgePosition="above after"
                  >delete_forever</mat-icon
                >
              </button>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              class="align-table-element-right"
            >
              <button
                mat-raised-button
                (click)="loadFile(element)"
                color="primary"
                [disabled]="modelLoading"
              >
                Load
              </button>
              <button
                *ngIf="userInfo.role === 'ADMIN' || userInfo.role === 'MANAGER'"
                color="primary"
                mat-icon-button
                (click)="deleteElement(element)"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="viewerExpandable">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="header-icon">
            3d_rotation
          </mat-icon>
          Viewer
        </mat-panel-title>
        <mat-panel-description *ngIf="modelLoading">
          {{ currentFile }} files of {{ totalFiles }}
          <mat-progress-bar
            class="model-progress-bar"
            mode="determinate"
            [value]="modelLoadingProgress"
          ></mat-progress-bar>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-viewer></app-viewer>
      <div></div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
