// mat-cell {
//   overflow: visible;
// }

.app-viewer-wrap {
  overflow: auto;
  max-height: calc(100vh - 203px);
}

.align-table-element-right {
  display: flex;
  justify-content: flex-end;
}
/* package column width*/
.mat-column-package {
  flex: 0 0 5%;
  width: 5%;
}
.mat-column-name{
  overflow:auto;
}
/* id column width*/
.mat-column-id {
  flex: 0 0 8%;
  width: 8%;
}

/* size column width*/
.mat-column-size {
  flex: 0 0 10%;
  width: 10%;
}
/* selection column width*/
.mat-column-selection {
  flex: 0 0 5%;
  width: 5%;
}

/* colormap column width*/
.mat-column-colormap {
  flex: 0 0 5%;
  width: 5%;
}

/* action column width*/
.mat-column-actions {
  flex: 0 0 15%;
  width: 15%;
}

.table-container {
  overflow: auto;
  max-height: calc(100vh - 411px);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.controls {
  width: 85%;
  display: flex;
  padding-top: 5px;
  padding-right: 15px;
}

.right-part {
  width: 50%;
  text-align: right;
  display: -webkit-box;
}

.left-part {
  width: 50%;
}

.upload-button {
  margin-top: 5%;
  background-color: #c00700;
  color: white;
  padding-right: 20px;
  margin-right: 20px;
  border-radius: 100px;
}

.model-progress-bar {
  top: 37%;
  left: 1%;
  width: 40%
}

.header-icon {
  font-size: 20px;
  margin-right: 4px;
}
