<mat-table [dataSource]="creditsUser.operations" class="mat-elevation-z8">
  <!-- Amount -->
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Operation's amount</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.amount }}€ </mat-cell>
  </ng-container>
  <!-- Credits after operation -->
  <ng-container matColumnDef="creditsAfter">
    <mat-header-cell *matHeaderCellDef>Credits after operation</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.creditsAfter }}€ </mat-cell>
  </ng-container>
  <!-- Credits after operation -->
  <ng-container matColumnDef="operationDate">
    <mat-header-cell *matHeaderCellDef>Operation's date</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.operationDate | date: 'd/MM/yy HH:mm' }}</mat-cell
    >
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
