<div class="monitorHeader">
  <button (click)="this.refresh()">
    <mat-icon>refresh</mat-icon>
  </button>

  <mat-select
    class="statusFilter"
    placeholder="Status"
    panelClass="monitoringPanel"
    multiple
    (selectionChange)="this.onStatusFilterChange($event)"
  >
    <mat-option
      *ngFor="let status of this.statusList"
      value="{{ status }}"
      color="primary"
    >
      {{ status }}
    </mat-option>
  </mat-select>

  <div class="datePicker start">
    <div class="datePickerLabel">
      Du :
    </div>
    <input
      matInput
      [matDatepicker]="startPicker"
      (dateChange)="this.onDateFilterChange(0, $event)"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </div>

  <div class="datePicker end">
    <div class="datePickerLabel">
      Au :
    </div>
    <input
      matInput
      [matDatepicker]="endPicker"
      (dateChange)="this.onDateFilterChange(1, $event)"
    />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </div>

  <mat-select
    class="selectJobs"
    #selectJobs
    (selectionChange)="this.selectJobChanged($event)"
    value=""
  >
    <mat-option value="">
      Empty
    </mat-option>
    <mat-option
      *ngFor="let job of this.filteredJobsList"
      value="{{ job.functionalId }}"
    >
      {{ job.functionalId }}_{{ job.name }}
    </mat-option>
  </mat-select>
</div>

<div class="monitor" #monitor (resized)="this.onMonitorResize()">
  <p *ngFor="let line of this.textInMonitor" class="shellLine">
    {{ line }}
  </p>
</div>
