:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .monitorHeader {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 43px;

    // Margin to all direct children
    > * {
      margin-left: 8px;
      margin-right: 8px;
    }

    mat-select {
      padding-left: 7px;
      padding-top: 5px;
      line-height: 2;
      border: 1px grey solid;
    }

    .statusFilter {
      max-width: 150px;
    }

    .datePicker {
      display: flex;
      flex-direction: row;
      max-width: 150px;
      min-width: 150px;
      padding-left: 7px;
      border: 1px grey solid;

      .datePickerLabel {
        white-space: nowrap;
        margin: auto 5px auto 0;
      }
    }
  }

  .monitor {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px auto;
    padding: 6px 0;
    width: 100%;
    background-color: black;
    overflow-y: auto;

    .shellLine {
      color: white;
      margin: 2px 5px;
    }
  }
}
