<div class="ppPopup">
  <mat-card>
    <h2>Upload project picture</h2>
    <div class="uploadDiv">
      <input
        type="file"
        accept="image/*"
        style="display: none;"
        #file
        (change)="changeProjectPhoto($event.target.files)"
      />
      <button mat-button (click)="file.click()">
        Upload
      </button>
    </div>

    <div class="submitButtons">
      <button mat-button (click)="openClose()">
        Cancel
      </button>
      <button mat-button color="primary" type="submit">
        Submit
      </button>
    </div>
  </mat-card>
</div>
