:host {
  background-color: rgba(100, 100, 100, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  mat-card {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .uploadDiv {
      width: 425px;
      height: 150px;
      background-color: grey;
      align-self: center;
    }

    .submitButtons {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;

      button {
        height: 40px;
      }
    }
  }
}
[_nghost-shi-c235] [_ngcontent-shi-c235]::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  // background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
  // background-color: transparent;
}
