<div class="ppPopup">
  <mat-card>
    <h2>
      {{
        this.translateService.getTranslation(this.translatePage, 'changeTitle')
      }}
    </h2>
    <div class="uploadDiv">
      <input
        type="file"
        accept="image/*"
        style="display: none;"
        #file
        (change)="changeProfilePhoto($event.target.files)"
      />
      <button mat-button (click)="file.click()">
        {{ this.translateService.getTranslation(this.translatePage, 'browse') }}
      </button>
    </div>

    <div class="submitButtons">
      <button mat-button (click)="openClose()">
        {{ this.translateService.getTranslation(this.translatePage, 'cancel') }}
      </button>
      <button mat-button color="primary" type="submit">
        {{ this.translateService.getTranslation(this.translatePage, 'modify') }}
      </button>
    </div>
  </mat-card>
</div>
