<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    matTreeNodePaddingIndent="10"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <mat-checkbox
      (mouseenter)="highlightOn(node.object)"
      (mouseleave)="highlightOff(node.object)"
      class="checklist-leaf-node"
      [checked]="checklistSelection.isSelected(node)"
      color="primary"
      (change)="todoLeafItemSelectionToggle(node)"
      >{{ node.name }}</mat-checkbox
    >
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    matTreeNodePaddingIndent="10"
  >
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">{{
        treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'
      }}</mat-icon>
    </button>
    <mat-checkbox
      (mouseenter)="highlightOn(node.object)"
      (mouseleave)="highlightOff(node.object)"
      color="primary"
      [checked]="descendantsAllSelected(node)"
      [indeterminate]="descendantsPartiallySelected(node)"
      (change)="todoItemSelectionToggle(node)"
      >{{ node.name }}</mat-checkbox
    >
  </mat-tree-node>
</mat-tree>
