.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node {
  display: flex;
  align-items: center;
  min-height: 0px;
  height: 30px;
  flex: 1;
  word-wrap: break-word;
}

mat-tree{
  position: absolute;
  z-index: 200;
  top: 5%;
  height: 80%;
  overflow-y: scroll;
  width: 10rem;
}
