#colormap {
  z-index: 2000;
  width: 66%;
  left: 19%;
  bottom: 0;
  position: absolute;
}

#colormap-title {
  margin: 0 auto;
  width: fit-content;
  font-weight: bold;
}

#colormap-labels {
  width: 90%;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#colormap-colors {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.color-cell {
  height: 32px;
  display: inline-block;
}
