<h1 mat-dialog-title>
  {{ title }}
</h1>

<div mat-dialog-content *ngIf="!data.arrayOfFiles">
  <p>{{ message }}</p>
</div>

<div mat-dialog-content *ngIf="data.arrayOfFiles">
  <mat-list>
    <mat-list-item *ngFor="let file of data.arrayOfFiles">{{
      file.name || file.filename
    }}</mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onDismiss()">No</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
</div>
