<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      Project Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <!-- List of managers Column -->
  <ng-container matColumnDef="managers">
    <mat-header-cell *matHeaderCellDef>
      Managers e-mail
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-list role="list">
        <div
          *ngIf="isEmptyPermission(element, 'MANAGER')"
          class="mat-caption empty_field"
        >
          <mat-icon>inbox</mat-icon>
          This project does not have managers
        </div>
        <ng-container *ngFor="let relation of element.access">
          <mat-list-item
            *ngIf="relation.role.toUpperCase() == 'MANAGER'"
            role="listitem"
          >
            {{ relation.userEMail }}
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-cell>
  </ng-container>

  <!-- List of guests Column -->
  <ng-container matColumnDef="guests">
    <mat-header-cell *matHeaderCellDef>
      Guests e-mail
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-list role="list">
        <div
          *ngIf="isEmptyPermission(element, 'GUEST')"
          class="mat-caption empty_field"
        >
          <mat-icon>inbox</mat-icon>
          This project does not have guests
        </div>
        <ng-container *ngFor="let relation of element.access">
          <mat-list-item
            *ngIf="relation.role.toUpperCase() == 'GUEST'"
            role="listitem"
          >
            {{ relation.userEMail }}
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-cell>
  </ng-container>

  <!-- List of customers Column -->
  <ng-container matColumnDef="customers">
    <mat-header-cell *matHeaderCellDef>
      Customers e-mail
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-list role="list">
        <div
          *ngIf="isEmptyPermission(element, 'CUSTOMER')"
          class="mat-caption empty_field"
        >
          <mat-icon>inbox</mat-icon>
          This project does not have customers
        </div>
        <ng-container *ngFor="let relation of element.access">
          <mat-list-item
            *ngIf="relation.role.toUpperCase() == 'CUSTOMER'"
            role="listitem"
          >
            {{ relation.userEMail }}
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-cell>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="progress">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      Progress
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.globalprogress }} %</mat-cell
    >
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>
      Action
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button
        matTooltip="Delete this project"
        class="actionButton"
        mat-mini-fab
        color="primary"
        (click)="deleteProject(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        matTooltip="Edit project permissions"
        class="actionButton"
        mat-mini-fab
        color="primary"
        (click)="editProject(element.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<div id="buttonLargeDiv">
  <button
    matTooltip="Add a new project"
    id="actionButton"
    mat-fab
    color="primary"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-paginator
  #paginator
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 100]"
  [showFirstLastButtons]="true"
  [length]="totalSize"
  [pageIndex]="currentPage"
  (page)="handlePage($event)"
></mat-paginator>
