<form [formGroup]="meteoForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field class="input-field">
      <input
        type="text"
        matInput
        placeholder="latitude"
        formControlName="lat"
        required
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input-field">
      <input
        type="text"
        matInput
        placeholder="longitude"
        formControlName="lon"
        required
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input-field">
      <input
        type="text"
        matInput
        placeholder="altitude"
        formControlName="alt"
        required
      />
    </mat-form-field>
  </p>
  <button type="submit" mat-raised-button color="primary">
    Submit
  </button>
</form>
<br />
Basso cambo coords :<br />
<ul>
  <li>latitude: 43.566280</li>
  <li>longitude: 1.385466</li>
</ul>
<br />
Altitude in Flight Level (FL) 1FL = 30m
<br />
<p *ngIf="result">
  Température actuelle à cet endroit :
  <b>{{ result }}°C</b>
</p>

<br />
<button (click)="submitSliceMet()" mat-raised-button color="primary">
  Slice Met
</button>

<p *ngIf="result">
  Résultat :
  <b>{{ sliceMet }}°C</b>
</p>
