:host {
  background-color: rgb(238, 238, 238);
  flex-grow: 1;
  min-height: 0;
  display: flex;

  .spinnerDiv {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-spinner {
      width: 30px;
      height: 30px;
      color: primary;
    }
  }
}
