<div *ngIf="isExpert == null" class="spinnerDiv">
  <mat-spinner></mat-spinner>
</div>
<app-client-profile
  *ngIf="isExpert == false && this.profileId"
  profileId="{{ this.profileId }}"
></app-client-profile>
<app-expert-profile
  *ngIf="isExpert == true && this.profileId"
  profileId="{{ this.profileId }}"
></app-expert-profile>
