<!----------------------------------------------------------
                      POPUP EDIT PROFILE
----------------------------------------------------------->
<div class="editPopup" *ngIf="editMode">
  <mat-card>
    <div class="updateLoading" *ngIf="updatingProfile">
      <mat-spinner></mat-spinner>
    </div>

    <h1>
      {{
        this.translateService.getTranslation(
          this.translatePage,
          'profileEdition'
        )
      }}
    </h1>

    <!----------------------------------------
                      F  O  R  M
    ----------------------------------------->
    <form
      [formGroup]="editProfileForm"
      (ngSubmit)="updateUser(editProfileForm.value)"
    >
      <!----------------------------------------
                      PERSONAL INFORMATIONS
        ----------------------------------------->
      <span>
        {{
          this.translateService.getTranslation(
            this.translatePage,
            'personalDatas'
          )
        }}
      </span>
      <mat-divider></mat-divider>

      <!-- lastName -->
      <mat-form-field>
        <mat-label>
          {{
            this.translateService.getTranslation(this.translatePage, 'lastName')
          }}
        </mat-label>

        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'lastName')
          }}"
          formControlName="lastName"
        />
      </mat-form-field>

      <!-- firstName -->
      <mat-form-field>
        <mat-label for="firstName">
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'firstName'
            )
          }}
        </mat-label>
        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(
              this.translatePage,
              'firstName'
            )
          }}"
          formControlName="firstName"
        />
      </mat-form-field>

      <!-- language -->
      <mat-form-field>
        <mat-label>
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'languages'
            )
          }}
        </mat-label>
        <mat-select formControlName="languages" multiple>
          <mat-option
            *ngFor="let language of this.allLanguages"
            value="{{ language }}"
          >
            {{
              this.translateService.getTranslation(this.languagePage, language)
            }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br /><br />
      <!----------------------------------
            change my password
        ------------------------------------->
      <span>
        {{
          this.translateService.getTranslation(
            this.translatePage,
            'changePassword'
          )
        }}
      </span>
      <mat-divider></mat-divider>

      <!-- new password-->

      <mat-form-field class="input-field">
        <input
          formControlName="password"
          [type]="passwordIsHidden ? 'password' : 'text'"
          matInput
          id="password"
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'password')
          }}"
          formControlName="password"
        />
        <mat-error *ngIf="this.f['password'].hasError('pattern')">
          {{ getPasswordStrengthError() }}
        </mat-error>

        <mat-icon
          matSuffix
          matTooltip="Toggle password visibility"
          (click)="passwordIsHidden = !passwordIsHidden"
        >
          {{ passwordIsHidden ? 'visibility_off' : 'visibility' }}</mat-icon
        >
      </mat-form-field>

      <!-- new password confirmation-->

      <mat-form-field class="input-field">
        <input
          formControlName="checkPassword"
          [type]="passwordIsHidden ? 'password' : 'text'"
          matInput
          id="checkPassword"
          placeholder="{{
            this.translateService.getTranslation(
              this.translatePage,
              'passwordRepeat'
            )
          }}"
          formControlName="checkPassword"
        />
        <mat-icon
          matSuffix
          matTooltip="Toggle password visibility"
          (click)="passwordIsHidden = !passwordIsHidden"
        >
          {{ passwordIsHidden ? 'visibility_off' : 'visibility' }}</mat-icon
        >
        <mat-error *ngIf="this.f['checkPassword'].hasError('confirm')">
          {{ getCheckPasswordError() }}
        </mat-error>
      </mat-form-field>

      <br /><br />
      <!----------------------------------------
                      CONTACT INFORMATIONS
        ----------------------------------------->
      <!-- email -->
      <span>
        {{
          this.translateService.getTranslation(
            this.translatePage,
            'contactInfos'
          )
        }}
      </span>
      <mat-divider></mat-divider>

      <mat-form-field class="input-field">
        <input
          type="text"
          id="email"
          matInput
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'email')
          }}"
          formControlName="email"
          required
        />
        <mat-error *ngIf="this.f['email'].hasError('email')">
          {{ getMailError() }}
        </mat-error>
      </mat-form-field>

      <!-- phone -->
      <mat-form-field>
        <mat-label>
          {{
            this.translateService.getTranslation(this.translatePage, 'phone')
          }}
        </mat-label>
        <!-- <span matPrefix>+33 &nbsp;</span> -->
        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'phone')
          }}"
          type="tel"
          formControlName="phone"
          required
        />
        <mat-error *ngIf="this.f['phone'].hasError('phone')">
          {{ getPhoneError() }}
        </mat-error>
      </mat-form-field>
      <br /><br />

      <!----------------------------------------
                      COMPANY
        ----------------------------------------->
      <!-- companie name -->
      <span>
        {{
          this.translateService.getTranslation(this.translatePage, 'company')
        }}
      </span>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>
          {{
            this.translateService.getTranslation(this.translatePage, 'company')
          }}
        </mat-label>
        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'company')
          }}"
          formControlName="company"
        />
      </mat-form-field>

      <!----------------------------   HERE UNDER ONLY IF EXPERT    ----------------->
      <!-- title, wage -->
      <div *ngIf="this.connectedIsExpert">
        <mat-form-field>
          <mat-label>
            {{
              this.translateService.getTranslation(this.translatePage, 'title')
            }}
          </mat-label>
          <input
            matInput
            placeholder="{{
              this.translateService.getTranslation(this.translatePage, 'title')
            }}"
            formControlName="title"
          />
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>{{
            this.translateService.getTranslation(
              this.translatePage,
              'expertWage'
            )
          }}</mat-label>
          <input
            matInput
            placeholder="{{
              this.translateService.getTranslation(
                this.translatePage,
                'expertWage'
              )
            }}"
            type="number"
            formControlName="wage"
          />
        </mat-form-field>
      </div>
      <!----------------------------   HERE UNDER ONLY IF CLIENT    ----------------->
      <!--  service -->
      <div *ngIf="this.connectedIsClient">
        <mat-form-field appearance="legacy">
          <mat-label>
            {{
              this.translateService.getTranslation(
                this.translatePage,
                'service'
              )
            }}
          </mat-label>
          <input
            matInput
            placeholder="{{
              this.translateService.getTranslation(
                this.translatePage,
                'service'
              )
            }}"
            formControlName="service"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let suggestion of this.suggestions"
              [value]="suggestion"
            >
              {{ suggestion }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!----------------------------  END ABOUT ONLY IF / BOTH AGAIN:   ----------------->

      <mat-form-field style="width: 90%;">
        <mat-chip-list #chipList aria-label="Software selection">
          <mat-chip
            *ngFor="let software of this.currentSoftwares"
            [selectable]="true"
            [removable]="true"
            (removed)="remove(software)"
            disabled="{{ this.updatingProfile }}"
          >
            {{ software }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <input
            placeholder="{{
              this.translateService.getTranslation(
                this.translatePage,
                'softwaresSelection'
              )
            }}"
            [matAutocomplete]="auto"
            #softInput
            [formControl]="this.softwareCtrl"
            formControlName="softwares"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>

        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let software of this.filteredSoftwares | async"
            [value]="software"
          >
            {{ software }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br /><br />

      <!----------------------------------------
                      LOCATION
        ----------------------------------------->
      <!-- citizenship -->
      <span>{{
        this.translateService.getTranslation(this.translatePage, 'location')
      }}</span>
      <mat-divider></mat-divider>
      <mat-form-field appearance="legacy">
        <mat-label>{{
          this.translateService.getTranslation(
            this.translatePage,
            'citizenship'
          )
        }}</mat-label>
        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(
              this.translatePage,
              'citizenship'
            )
          }}"
          formControlName="citizenship"
        />
      </mat-form-field>

      <!-- country -->
      <mat-form-field appearance="legacy">
        <mat-label>{{
          this.translateService.getTranslation(this.translatePage, 'country')
        }}</mat-label>
        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'country')
          }}"
          formControlName="country"
        />
      </mat-form-field>

      <!-- city -->
      <mat-form-field appearance="legacy">
        <mat-label>{{
          this.translateService.getTranslation(this.translatePage, 'city')
        }}</mat-label>
        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'city')
          }}"
          formControlName="city"
        />
      </mat-form-field>
      <br />

      <!-- address -->
      <mat-form-field appearance="legacy">
        <mat-label>{{
          this.translateService.getTranslation(this.translatePage, 'postal')
        }}</mat-label>
        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'postal')
          }}"
          formControlName="address"
        />
      </mat-form-field>

      <!-- zipcode -->
      <mat-form-field appearance="legacy">
        <mat-label>{{
          this.translateService.getTranslation(this.translatePage, 'zipCode')
        }}</mat-label>
        <input
          matInput
          placeholder="{{
            this.translateService.getTranslation(this.translatePage, 'zipCode')
          }}"
          type="text"
          formControlName="zipCode"
        />
      </mat-form-field>
      <br /><br />

      <!----------------------------------------
                      COMPETENCIES
        ----------------------------------------->

      <span>{{
        this.translateService.getTranslation(this.translatePage, 'competencies')
      }}</span>
      <mat-divider></mat-divider>

      <div class="competencies">
        <mat-checkbox
          color="primary"
          class="competenciesCheck"
          formControlName="aerospace"
        >
          Aerospace
        </mat-checkbox>

        <mat-checkbox
          color="primary"
          class="competenciesCheck"
          formControlName="energy"
        >
          Energy
        </mat-checkbox>

        <mat-checkbox
          color="primary"
          class="competenciesCheck"
          formControlName="transport"
        >
          Transport
        </mat-checkbox>

        <mat-checkbox
          color="primary"
          class="competenciesCheck"
          formControlName="industries"
        >
          Industries
        </mat-checkbox>
      </div>

      <div class="submitButtons">
        <button mat-button (click)="CloseDialog()" #cancelEditButton>
          {{
            this.translateService.getTranslation(this.translatePage, 'cancel')
          }}
        </button>
        <button mat-button color="primary" type="submit" #applyEditButton>
          {{
            this.translateService.getTranslation(this.translatePage, 'modify')
          }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
