.editPopup {
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    margin: 13px 0;
  }

  mat-card {
    border-radius: 15px;
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .updateLoading {
      background-color: rgba(100, 100, 100, 0.4);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    mat-form-field {
      margin-top: 2%;
      margin-right: 3%;
      margin-left: 3%;
    }
    mat-divider {
      width: 94%;
      margin-left: 3%;
      border-top-width: 2px;
      border-top-color: rgb(180, 180, 180);
    }

    span {
      display: block;
      margin-top: 2%;
      margin-bottom: 1%;
      margin-left: 1.5%;
      font-weight: 600;
      text-align: center;
      color: #c60800;
    }

    .competencies {
      margin-top: 3%;
      margin-right: 3%;
      margin-left: 3%;
      display: flex;
      flex-direction: row;
      overflow-y: hidden !important;

      .competenciesCheck {
        margin-left: 6%;
        margin-right: 6%;
      }
    }

    .submitButtons {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 20px;

      button {
        height: 40px;
      }
    }
  }

  // Custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c60800;
  }

  .mat-tooltip {
    color: #c60800;
  }

  .editPopup.ng-star-inserted {
    z-index: 1000;
  }

  .mat-dialog-content {
    margin-bottom: -20px;
  }

  h1 {
    text-align: center;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 600;
  }

  .send {
    color: #c60800;
    background-color: transparent;
  }

  .send:hover {
    background-color: #c60800;
    color: white;
  }

  button.mat-focus-indicator.topCancel.mat-button.mat-button-base {
    display: inline-block;
    position: absolute;
    right: 35px;
    background-color: rgba(250, 250, 250;0.1);
  }
  button.mat-focus-indicator.topCancel.mat-button.mat-button-base:hover {
    background-color: rgba(150, 150, 150;0.5);
  }
}
