:host {
  flex-grow: 1;
  min-height: 0;
  display: flex;

  .spinnerDiv {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    //background: rgba(0,0,0, 0.4);
    width: 100%;
    height: calc(100% - 58px);
  }

  h1.mat-title.project-name {
    font-weight: 600;
    color: rgba(50, 50, 50, 1);
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .b-container {
    display: inline-block;
    position: relative;
    margin-left: -15%;
  }

  .bb-container {
    display: block;
    margin: auto;
    width: calc(10vw + 3%);
  }

  img {
    max-width: 100%;
    position: absolute;
    max-height: 100%;
    top: 2px;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(45% at 50% 49%);
  }

  .base {
    display: flex;
    width: 100%;
  }

  .blur {
    filter: blur(5px);
  }

  .sidebar {
    padding: 10px;
    flex-grow: 1;
    max-height: calc(100% - 30px);
    min-height: 0;
    max-width: 20vw;

    mat-card {
      border-radius: 8px;
      height: 100%;
      min-height: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }

    // "back to project list" card and it's children
    .back-card {
      height: 65px;
      margin-bottom: 12px;
      padding: 0;

      .back-button {
        height: 100%;
        color: #c60800;
        font-size: 2.5vh;
        text-align: start;
      }
    }

    // project overview card
    .project-overview-card {
      overflow-y: auto;
      max-width: 20vw;
      // (65px - (13 * X) / 384)
      // this is a formula used to calculate the offset for the
      // fixed .back-card whenever user resizes the window
      height: calc(96% - 12px - (65px - ((13 * 100vh) / 384)));

      padding: 16px 30px;

      .project-name {
        margin: 10px 0 0;
        color: #707070;
      }

      .project-role {
        font: 500 16px/28px Roboto, 'Helvetica Neue', sans-serif;
        margin: 0 0 16px;
        color: #bababa;
      }

      // section to display progress progress
      // Align the the number to the left
      .left-right-wrapper {
        display: flex;

        .half-section {
          width: 50%;
        }
        .right-half {
          text-align: end;
        }
      }

      .date {
        color: rgba(50, 50, 50, 1);
      }
      .project-image {
      }

      .align-icon {
        vertical-align: top;
      }

      .full-width-button {
      }

      .project-config-button {
        margin: 11px 0;
      }

      .contact-button {
        padding: 1px 0 0 0;
      }

      .sub-section {
        margin: 0 0 4px;
      }

      .divider {
        border-top-width: 2px;
        position: unset;
      }

      // Custom scrollbar
      /* width */
      ::-webkit-scrollbar {
        width: 1px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(218, 218, 218);
        border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(150, 150, 150);
      }
    }
  }
}
