<div class="spinnerDiv" *ngIf="loadingStatus">
  <mat-spinner color="primary"></mat-spinner>
</div>

<div class="base" [ngClass]="{ blur: loadingStatus }">
  <!-------------
      Sidebar
  ---------------->
  <div class="sidebar">
    <!------------------------------
      Back button to the project list
    --------------------------------->
    <mat-card radius="24" class="mat-elevation-z3 back-card">
      <button
        mat-button
        class="back-button"
        (click)="router.navigate(['/vision'])"
      >
        <mat-icon>chevron_left</mat-icon>
        Back to project list
      </button>
    </mat-card>

    <!------------------------------
          Project information card
      ----------------------------->
    <mat-card radius="24" class="mat-elevation-z3 project-overview-card">
      <mat-card-content>
        <div class="left-right-wrapper">
          <!------------------------------
          Project name and user's role
          ----------------------------->
          <div class="half-section sub-section">
            <h1 class="mat-title project-name">
              {{ currentProject.project.name }}
            </h1>
            <h3 class="mat-subheading-2 project-role">
              {{
                currentProject.role.charAt(0) +
                  currentProject.role.slice(1).toLowerCase()
              }}
            </h3>
          </div>

          <!------------------------------
          Project configuration button
          ----------------------------->
          <div
            class="half-section right-half sub-section"
            style="margin-top: auto;"
          >
            <button
              *ngIf="
                currentProject.role.toUpperCase() === 'MANAGER' ||
                currentProject.role.toUpperCase() === 'ADMIN'
              "
              mat-button
              class="project-config-button"
              color="primary"
              (click)="openProjectSettingDialog()"
            >
              <mat-icon class="align-icon" style="vertical-align: middle;"
                >settings</mat-icon
              >
              Settings
            </button>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>
        <!------------------------------
          Project progress in number
        ----------------------------->
        <div class="left-right-wrapper">
          <h2 class="mat-title project-name half-section">Project progress</h2>
          <h2 class="mat-title project-name half-section right-half">
            {{ currentProject.project.globalprogress }}%
          </h2>
        </div>

        <!------------------------------
          Project progress in circle
          with project image
        ----------------------------->
        <div style="padding: 5% 0 5%;">
          <div class="bb-container">
            <div class="b-container">
              <mat-progress-spinner
                value="{{ currentProject.project.globalprogress }}"
                diameter="{{ breakpoint }}"
                strokeWidth="10"
                class="project-image"
                (window:resize)="onResize($event)"
                [color]="updateColor(currentProject.project.globalprogress)"
              >
              </mat-progress-spinner>
              <img
                src="{{ generateImgUrl(currentProject) }}"
                src-fallback="{{ fallbackImage }}"
              />
            </div>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <h2 class="mat-title project-name" style="padding-bottom: 10px;">
          Project Management
        </h2>
        <!------------------------------
          Project start date
         ----------------------------->
        <div class="left-right-wrapper">
          <h3 class="mat-subheading-2 project-role half-section sub-section">
            <mat-icon class="align-icon">today</mat-icon>
            Start Date
          </h3>
          <h3
            class="mat-subheading-2 project-role half-section right-half sub-section date"
          >
            {{ currentProject.project.startDate | date: 'dd/MM/yy' }}
          </h3>
        </div>

        <!------------------------------
          Project end date
        ----------------------------->
        <div class="left-right-wrapper">
          <h3 class="mat-subheading-2 project-role half-section sub-section">
            <mat-icon class="align-icon">event</mat-icon>
            End Date
          </h3>
          <h3
            class="mat-subheading-2 project-role half-section right-half sub-section date"
          >
            {{ currentProject.project.endDate | date: 'dd/MM/yy' }}
          </h3>
        </div>

        <!------------------------------
          Request a meeting button
        ----------------------------->
        <div style="display: grid;" #managerInfo>
          <!-- plan a meeting-->
          <div
            [matTooltip]="
              currentProject.role.toUpperCase() === 'CUSTOMER'
                ? null
                : 'Only customer can request a meeting'
            "
          >
            <button
              style="width: 100%;"
              mat-button
              [disabled]="!(currentProject.role.toUpperCase() === 'CUSTOMER')"
              color="primary"
              class="full-width-button contact-button"
              (click)="openRequestMeetingDialog()"
            >
              <mat-icon class="align-icon" style="vertical-align: middle;"
                >calendar_today</mat-icon
              >
              Request a meeting
            </button>
          </div>

          <!-- contact manager-->

          <button
            mat-button
            color="primary"
            class="full-width-button contact-button"
            style="margin-bottom: 2%;"
            (click)="openManagerInformationDialog()"
          >
            <mat-icon class="align-icon" style="vertical-align: middle;"
              >perm_phone_msg</mat-icon
            >
            Contact manager
          </button>
        </div>

        <mat-divider class="divider"></mat-divider>
        <h2 class="mat-title project-name" style="padding-bottom: 10px;">
          Next Meeting
        </h2>

        <!------------------------------
          Next teams meetin date
        ----------------------------->
        <div class="left-right-wrapper">
          <h3 class="mat-subheading-2 project-role half-section sub-section">
            <mat-icon class="align-icon">today</mat-icon>
            Date
          </h3>
          <h3
            class="mat-subheading-2 project-role half-section right-half sub-section"
          >
            {{ currentProject.project.nextMeeting | date: 'dd/MM/yy HH:mm' }}
          </h3>
        </div>

        <!------------------------------
          Button to join teams
        ----------------------------->
        <div style="display: grid;">
          <!-- Join teams button-->
          <!-- TODO Bind click on Join teams button-->
          <button
            mat-button
            (click)="navigateToTeamsLink(currentProject.project.teamsUrl)"
            class="full-width-button contact-button"
            style="margin-bottom: 2%;"
            color="primary"
            [disabled]="
              currentProject.project.teamsUrl === '' ||
              currentProject.project.teamsUrl == 'undefined'
            "
          >
            <mat-icon class="align-icon" style="vertical-align: middle;"
              >people_alt</mat-icon
            >Join Microsoft Teams
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!------------------------------
          main frame which holds
          children tables
          (TCM, plots, images and 3d viewer)
  ----------------------------->
  <app-main-frame
    projectId="{{ projectId }}"
    style="width: 10%;"
  ></app-main-frame>
</div>
