<div *ngIf="!errorState">
  <h1 mat-dialog-title>
    <!--  <mat-icon style="display: inline-flex;-->
    <!--  vertical-align: middle;">create_new_folder</mat-icon>-->
    Create a new folder
  </h1>
  <div mat-dialog-content>
    <!--  <form class="example-form">-->
    <mat-form-field class="example-full-width">
      <mat-label>Folder name</mat-label>
      <!--      <input [(ngModel)]="folderName" matInput aria-label="new folder name" [errorStateMatcher]="matcher" />-->
      <input
        [formControl]="folderControl"
        matInput
        aria-label="new folder name"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="folderControl.hasError('required')">
        Folder name cannot be empty
      </mat-error>
    </mat-form-field>
    <!--  </form>-->
  </div>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      (click)="createFolder()"
      cdkFocusInitial
      disabled="{{ folderControl.hasError('required') }}"
    >
      Create
    </button>
  </mat-dialog-actions>
</div>

<div *ngIf="errorState">
  <h1 mat-dialog-title class="red-title">
    An error has occurred
  </h1>
  <div mat-dialog-content>
    <div class="error-container">
      {{ errorMessage }}
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Close</button>
  </mat-dialog-actions>
</div>
