.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.error-container {
  width: 450px;
  text-align: center;
  padding: 2rem;
  position: relative;
  margin: 0 auto;
}

.red-title {
  color: #db202f;
}
