:host {
  padding: 10px;
  flex-grow: 8;
  max-height: calc(100% - 30px);
  min-height: 0;

  mat-card {
    border-radius: 8px;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    #table-container {
      width: 100%;
      min-height: 0;
      overflow-y: scroll;

      mat-table {
        width: 100%;

        mat-header-cell {
          font-weight: bold;
          font-size: 85%;

          img {
            color: rgb(163, 163, 163);
            cursor: pointer;
          }
        }

        mat-cell {
          cursor: pointer;
        }

        .iconRow {
          flex: 0 0 6% !important;
        }
      }
    }
  }

  .app-viewer-wrap {
    overflow: auto;
    max-height: calc(100vh - 203px);
  }

  // Custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
  }
}

.blinking {
  -webkit-animation: NAME-YOUR-ANIMATION 1s infinite; /* Safari 4+ */
  -moz-animation: NAME-YOUR-ANIMATION 1s infinite; /* Fx 5+ */
  -o-animation: NAME-YOUR-ANIMATION 1s infinite; /* Opera 12+ */
  animation: NAME-YOUR-ANIMATION 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%,
  49% {
    //background-color: white;
    color: black;
  }
  50%,
  100% {
    //background-color: #c60800;
    color: #c60800;
  }
}
