<mat-card radius="24" class="mat-elevation-z3">
  <mat-tab-group>
    <!-- ================== Test case matrix ==========================-->
    <mat-tab label="Test case matrix">
      <ng-template matTabContent>
        <app-test-case-matrix
          [file]="tcmFile.asObservable()"
          [projectId]="projectId"
        ></app-test-case-matrix>
      </ng-template>
    </mat-tab>

    <!-- ================== PLOTS ==========================-->
    <mat-tab label="Plots - 1D">
      <ng-template matTabLabel>
        <span>Plots - 1D</span>
      </ng-template>

      <ng-template matTabContent>
        <mat-tab-group>
          <!--------Files--------->
          <mat-tab label="Files">
            <ng-template matTabContent>
              <app-table
                [tableDisplayedOption]="tableOptions[0]"
                [files]="plotFiles.asObservable()"
                [commentService]="plotsCommentService"
              ></app-table>
            </ng-template>
          </mat-tab>

          <!--------Multiview + indepth--------->
          <mat-tab label="Comments">
            <ng-template matTabLabel>
              <div>
                <span
                  matBadge=" {{
                    (plotsCommentService.getFilesObservable() | async) === null
                      ? 0
                      : (plotsCommentService.getFilesObservable() | async)
                          .length
                  }}"
                  matBadgeOverlap="false"
                  ><span [ngClass]="{ blinking: plotsBlinking }">
                    Multiview
                  </span></span
                >
              </div>
            </ng-template>
            <ng-template matTabContent>
              <app-plot-comments [commentService]="plotsCommentService">
              </app-plot-comments>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-tab>

    <!-- ================== IMAGES ==========================-->
    <mat-tab label="Images - 2D">
      <ng-template matTabLabel>
        <span>Images - 2D</span>
      </ng-template>

      <ng-template matTabContent>
        <mat-tab-group>
          <!--------Files--------->
          <mat-tab label="Files">
            <ng-template matTabContent>
              <app-table
                [tableDisplayedOption]="tableOptions[1]"
                [files]="imageFiles.asObservable()"
                [commentService]="imagesCommentService"
              ></app-table>
            </ng-template>
          </mat-tab>

          <!--------Multiview & indepth--------->
          <mat-tab>
            <ng-template matTabLabel>
              <span
                matBadge=" {{
                  (imagesCommentService.getFilesObservable() | async) === null
                    ? 0
                    : (imagesCommentService.getFilesObservable() | async).length
                }}"
                matBadgeOverlap="false"
              >
                <span [ngClass]="{ blinking: plotsBlinking }">
                  Multiview
                </span></span
              >
            </ng-template>

            <ng-template matTabContent>
              <app-image-comments
                [commentService]="imagesCommentService"
                [projectId]="projectId"
              >
              </app-image-comments>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-tab>

    <!-- ================== VIEWER ==========================-->
    <mat-tab label="Z-Viewer - 3D">
      <ng-template matTabContent>
        <!--        <div class="app-viewer-wrap">-->
        <app-model-selection></app-model-selection>
        <!--        </div>-->
        <!--        <app-table [tableDisplayedOption]="tableOptions[2]"></app-table>-->
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
