<mat-table
  #table
  [dataSource]="this.dataSource"
  class="mat-elevation-z8"
  matSort
  matSortActive="name"
  matSortDirection="asc"
>
  <!-- E-Mail Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      E-Mail
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon
        *ngIf="element.userRating"
        class="mat-18"
        matTooltip="This user is an Expert"
        color="primary"
        style="size: 3px; margin-right: 3px;"
      >
        architecture</mat-icon
      >
      {{ element.email }}
    </mat-cell>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      First Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.firstName }} </mat-cell>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Last Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.lastName }} </mat-cell>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="userRating">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Rating
    </mat-header-cell>

    <mat-cell *matCellDef="let element" class="ratingCell">
      {{ element.userRating }}
      <button
        class="editRatingButton"
        mat-button
        color="stroked"
        *ngIf="element.userRating"
        matTooltip="Edit user rating"
        (click)="OpClExRatingEdit(element.userId)"
      >
        Edit
      </button>
    </mat-cell>
  </ng-container>

  <!-- Core Hour Column -->
  <ng-container matColumnDef="coreHour">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Core Hour
    </mat-header-cell>
    <mat-cell *matCellDef="let element" class="ratingCell">
      {{ element.coreHour }}
      <button
        mat-button
        color="stroked"
        class="editCoreHourButton"
        matTooltip="Edit core hour"
        (click)="OpClCoreHourEdit(element.userId)"
      >
        Edit
      </button>
    </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="actionsHead">
      Action
    </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element" class="actionsCell">
      <button
        matTooltip="Edit user info"
        class="actionButton"
        mat-mini-fab
        color="primary"
        (click)="OpClEditMode(element.userId)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        matTooltip="Delete this user"
        class="actionButton"
        mat-mini-fab
        color="primary"
        (click)="deleteUser(element.userId)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        matTooltip="{{ getToolTipValidated(element.isValidated) }}"
        class="actionButton"
        mat-mini-fab
        color="{{ getButtonStyleValidated(element.isValidated) }}"
        (click)="changeValidatedState(element.userId)"
      >
        <mat-icon>{{ getLockState(element.isValidated) }}</mat-icon>
      </button>
      <button
        matTooltip="{{ getToolTipAdmin(element.isAdmin) }}"
        class="actionButton"
        mat-mini-fab
        color="{{ getButtonStyleAdmin(element.isAdmin) }}"
        (click)="changeAdminState(element.userId)"
      >
        <mat-icon>{{ getAdminState(element.isAdmin) }}</mat-icon>
      </button>

      <button
        matTooltip="Modify user vpn access"
        class="actionButton"
        mat-mini-fab
        color="default"
        (click)="openDialog(element.userId)"
      >
        <mat-icon>vpn_key</mat-icon>
      </button>

      <button
        matTooltip="{{ getTooltipPremium(element.isPremiumCommunity) }}"
        class="actionButton"
        mat-mini-fab
        color="{{ getButtonStylePremium(element.isPremiumCommunity) }}"
        (click)="changePremiumState(element.userId)"
      >
        <mat-icon>{{ getPremiumState(element.isPremiumCommunity) }}</mat-icon>
      </button>

      <button
        matTooltip="{{ getTooltipCommunity(element.hasCommunityAccess) }}"
        class="actionButton"
        mat-mini-fab
        color="{{ getButtonStyleCommunity(element.hasCommunityAccess) }}"
        (click)="changeCommunityAccess(element.userId)"
      >
        <mat-icon>{{ getCommunityState(element.hasCommunityAccess) }}</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator
  #paginator
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 100]"
  [showFirstLastButtons]="true"
  [length]="totalSize"
  [pageIndex]="currentPage"
  (page)="handlePage($event)"
></mat-paginator>

<!------------------------------------------------------------------------------------>
<!--------------- EXPERT EDITION : TODO MAKE COMPONENT FOR THAT ---------------------->
<!------------------------------------------------------------------------------------>
<div class="editPopup" *ngIf="editModeExpert">
  <mat-card>
    <div class="updateLoading" *ngIf="updatingProfile">
      <mat-spinner></mat-spinner>
    </div>
    <h1>Edition de profil Expert</h1>
    <form
      [formGroup]="editExpertProfileForm"
      (ngSubmit)="updateExpert(editExpertProfileForm.value)"
    >
      <p>
        <span>Informations personnelles</span>
        <mat-divider></mat-divider>
        <mat-form-field appearance="legacy">
          <mat-label>Nom</mat-label>
          <input
            matInput
            placeholder="Nom"
            formControlName="lastName"
            value="{{ this.userInfoEdition.lastName }}"
          />
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Prénom</mat-label>
          <input
            matInput
            placeholder="Prénom"
            formControlName="firstName"
            value="{{ this.userInfoEdition.firstName }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <br /><br />
        <span>Coordonnées</span>
        <mat-divider></mat-divider>
        <mat-form-field appearance="legacy">
          <mat-label>Adresse email</mat-label>
          <input
            matInput
            placeholder="Adresse email"
            type="email"
            formControlName="email"
            value="{{ this.userInfoEdition.email }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Téléphone</mat-label>
          <input
            matInput
            placeholder="Téléphone"
            type="tel"
            formControlName="phone"
            value="{{ this.userInfoEdition.phone }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <br /><br />
        <span>Entreprise</span>
        <mat-divider></mat-divider>
        <mat-form-field appearance="legacy">
          <mat-label>Entreprise</mat-label>
          <input
            matInput
            placeholder="Entreprise"
            formControlName="company"
            value="{{ this.userInfoEdition.company }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Titre</mat-label>
          <input
            matInput
            placeholder="Titre"
            formControlName="title"
            value="{{ this.expertInfoEdition.title }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Tarif</mat-label>
          <input
            matInput
            placeholder="Tarif"
            type="number"
            formControlName="wage"
            value="{{ this.expertInfoEdition.wage }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Rating</mat-label>
          <input
            matInput
            placeholder="Rating"
            type="number"
            formControlName="rating"
            value="{{ this.expertInfoEdition.rating }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <br /><br />
        <span>Localisation</span>
        <mat-divider></mat-divider>
        <mat-form-field appearance="legacy">
          <mat-label>Nationalité</mat-label>
          <input
            matInput
            placeholder="Nationalité"
            formControlName="citizenship"
            value="{{ this.userInfoEdition.citizenship }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Pays</mat-label>
          <input
            matInput
            placeholder="Pays"
            formControlName="country"
            value="{{ this.userInfoEdition.country }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Ville</mat-label>
          <input
            matInput
            placeholder="Ville"
            formControlName="city"
            value="{{ this.userInfoEdition.city }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <br />
        <mat-form-field appearance="legacy">
          <mat-label>Adresse postale</mat-label>
          <input
            matInput
            placeholder="adresse postale"
            formControlName="address"
            value="{{ this.userInfoEdition.address }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Code postal</mat-label>
          <input
            matInput
            placeholder="Code postal"
            type="number"
            formControlName="zipCode"
            value="{{ this.userInfoEdition.zipCode }}"
          />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </p>
      <div class="submitButtons">
        <button mat-button (click)="this.editModeExpert = false">
          Annuler
        </button>
        <button mat-button color="primary" type="submit">Modifier</button>
      </div>
    </form>
  </mat-card>
</div>

<!-- Popup to edit a profile -->
<div class="editPopup" *ngIf="editModeClient">
  <mat-card>
    <div class="updateLoading" *ngIf="updatingProfile">
      <mat-spinner></mat-spinner>
    </div>
    <h3>
      Edition de profil
    </h3>
    <form
      [formGroup]="editProfileForm"
      (ngSubmit)="updateClient(editProfileForm.value)"
    >
      <p>
        <!-- SPAN personal infos -->
        <span>
          Informations personnelles
        </span>

        <mat-divider></mat-divider>
        <!-- lastName -->
        <mat-form-field appearance="legacy">
          <mat-label>Nom</mat-label>
          <input
            matInput
            placeholder="Nom"
            formControlName="lastName"
            value="{{ this.userInfoEdition.lastName }}"
          />
        </mat-form-field>
        <!-- firstName -->
        <mat-form-field appearance="legacy">
          <mat-label>Prénom</mat-label>
          <input
            matInput
            placeholder="Prénom"
            formControlName="firstName"
            value="{{ this.userInfoEdition.firstName }}"
          />
        </mat-form-field>
        <!-- SPAN contact infos -->
        <span>
          Coordonnées
        </span>

        <mat-divider></mat-divider>
        <!-- Email -->
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            value="{{ this.userInfoEdition.email }}"
          />
        </mat-form-field>
        <!-- Phone -->
        <mat-form-field appearance="legacy">
          <mat-label>Phone</mat-label>
          <input
            matInput
            placeholder="Phone"
            formControlName="phone"
            value="{{ this.userInfoEdition.phone }}"
          />
        </mat-form-field>
        <!-- SPAN Location -->
        <span>
          Localisation
        </span>

        <mat-divider></mat-divider>
        <!-- Citizenship -->
        <mat-form-field appearance="legacy">
          <mat-label>Nationalité</mat-label>
          <input
            matInput
            placeholder="Nationalité"
            formControlName="citizenship"
            value="{{ this.userInfoEdition.citizenship }}"
          />
        </mat-form-field>
        <!-- Country -->
        <mat-form-field appearance="legacy">
          <mat-label>Pays</mat-label>
          <input
            matInput
            placeholder="Pays"
            formControlName="country"
            value="{{ this.userInfoEdition.country }}"
          />
        </mat-form-field>
        <!-- City -->
        <mat-form-field appearance="legacy">
          <mat-label>Ville</mat-label>
          <input
            matInput
            placeholder="Ville"
            formControlName="city"
            value="{{ this.userInfoEdition.city }}"
          />
        </mat-form-field>
        <!-- Postal -->
        <mat-form-field appearance="legacy">
          <mat-label>Adresse postale</mat-label>
          <input
            matInput
            placeholder="Adresse postale"
            formControlName="address"
            value="{{ this.userInfoEdition.address }}"
          />
        </mat-form-field>
        <!-- Zip code -->
        <mat-form-field appearance="legacy">
          <mat-label>Code postal</mat-label>
          <input
            matInput
            placeholder="Code postal"
            formControlName="zipCode"
            value="{{ this.userInfoEdition.zipCode }}"
          />
        </mat-form-field>
        <!-- Submit / Cancel Buttons -->
      </p>
      <div class="submitButtons">
        <button class="cancel" mat-button (click)="this.editModeClient = false">
          Cancel
        </button>
        <button class="send" mat-button color="primary" type="submit">
          Modifier
        </button>
      </div>
    </form>
  </mat-card>
</div>

<!-- Popup to edit Expert rating -->
<div class="editRatingPopup" *ngIf="editModeRating">
  <mat-card>
    <div class="updateLoading" *ngIf="updatingProfile">
      <mat-spinner></mat-spinner>
    </div>
    <h3>
      Edit Rating
    </h3>
    <form
      [formGroup]="editRatingForm"
      (ngSubmit)="
        updateExpertRating(editRatingForm.value.rating, expertInfoEdition)
      "
    >
      <p>
        <span>
          Edit expert rating (0 to 100):
        </span>
        <mat-divider></mat-divider>
      </p>
      <div class="form-row">
        <input
          matInput
          type="number"
          placeholder="{{ this.expertRatingEdition }}"
          formControlName="rating"
          value="{{ this.expertRatingEdition }}"
        />
      </div>
      <br />

      <div class="submitButtons">
        <button mat-button (click)="this.editModeRating = !this.editModeRating">
          {{
            this.translateService.getTranslation(this.translatePage, 'cancel')
          }}
        </button>
        <button mat-button color="primary" type="submit">
          {{
            this.translateService.getTranslation(this.translatePage, 'modify')
          }}
        </button>
      </div>
    </form>
  </mat-card>
</div>

<!-- Popup to edit Core Hour -->
<div class="editCoreHourPopup" *ngIf="editModeCoreHour">
  <mat-card>
    <div class="updateLoading" *ngIf="updatingProfile">
      <mat-spinner></mat-spinner>
    </div>
    <h3>
      Edit Core Hour
    </h3>
    <form
      [formGroup]="editCoreHourForm"
      (ngSubmit)="
        updateCoreHour(editCoreHourForm.value.coreHour, userIdCoreHourEdition)
      "
    >
      <p>
        <span>
          Edit core hour:
        </span>
        <mat-divider></mat-divider>
      </p>
      <div class="form-row">
        <input
          matInput
          type="number"
          placeholder="Core Hour"
          formControlName="coreHour"
          value="{{ this.userCoreHourEdition }}"
        />
      </div>
      <br />

      <div class="submitButtons">
        <button
          mat-button
          (click)="this.editModeCoreHour = !this.editModeCoreHour"
        >
          {{
            this.translateService.getTranslation(this.translatePage, 'cancel')
          }}
        </button>
        <button mat-button color="primary" type="submit">
          {{
            this.translateService.getTranslation(this.translatePage, 'modify')
          }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
