.actionButton {
  margin: 12px;
}

mat-table {
  width: 100%;

  .actionsHead {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 34% !important;
    width: 34% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .actionsCell {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 34% !important;
    width: 34% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

}

.editPopup {
  background-color: rgba(100, 100, 100, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10% 15%;

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    margin: 13px 0;
  }

  mat-card {
    border-radius: 15px;
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .updateLoading {
      background-color: rgba(100, 100, 100, 0.4);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3 {
      margin-top: 2%;
      align-self: center;
      color: #cccccc;
      font-size: 25px;
    }

    mat-form-field {
      margin-top: 2%;
      margin-right: 3%;
      margin-left: 3%;
    }
    mat-divider {
      width: 94%;
      margin-left: 3%;
      border-top-width: 2px;
      border-top-color: rgb(180, 180, 180);
    }

    span {
      display: block;
      margin-top: 2%;
      margin-bottom: 1%;
      margin-left: 1.5%;
    }

    .submitButtons {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;

      button {
        height: 40px;
      }
    }
  }
}

.editRatingPopup {
  background-color: rgba(100, 100, 100, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15% 40%;

  ::-webkit-scrollbar {
    display: none;
  }

  mat-card {
    border-radius: 15px;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-width: 280px;

    .updateLoading {
      background-color: rgba(100, 100, 100, 0.4);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    mat-form-field {
      margin-top: 2%;
      margin-right: 3%;
      margin-left: 3%;
    }
    mat-divider {
      width: 94%;
      margin-left: 3%;
      border-top-width: 1px;
      border-top-color: rgb(180, 180, 180);
    }

    span {
      display: block;
      margin-top: 2%;
      margin-bottom: 1%;
      // margin-left: 1.5%;
    }

    .submitButtons {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;

      button {
        height: 40px;
      }
    }
  }
}

.editCoreHourPopup {
  background-color: rgba(100, 100, 100, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15% 40%;

  ::-webkit-scrollbar {
    display: none;
  }

  mat-card {
    border-radius: 15px;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-width: 280px;

    .updateLoading {
      background-color: rgba(100, 100, 100, 0.4);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    mat-form-field {
      margin-top: 2%;
      margin-right: 3%;
      margin-left: 3%;
    }
    mat-divider {
      width: 94%;
      margin-left: 3%;
      border-top-width: 1px;
      border-top-color: rgb(180, 180, 180);
    }

    span {
      display: block;
      margin-top: 2%;
      margin-bottom: 1%;
      margin-left: 1.5%;
      font-weight: 600;
      text-align: center;
      color:#c60800;
    }

    .submitButtons {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;

      button {
        height: 40px;
      }
    }
  }

}

span {
  font-weight: 600;
  text-align: center;
  color:#c60800;
}

h1 {
  text-align: center;
  border-bottom: 1px solid rgba(150,150,150,0.5);
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight:600;
}

.send{
  color:#c60800;
  background-color: transparent;
}

.send:hover{
background-color: #c60800;
color:white;
}





