<app-drive-menu></app-drive-menu>
<app-drive-content></app-drive-content>

<!-- <mat-grid-list cols="1" rowHeight="12:1">
  <mat-grid-tile
    *ngFor="let project of projects; let i = index"
    [rowspan]="
      project.files === null
        ? 1
        : project.files.length > 5
        ? 3
        : project.files.length > 0
        ? 2
        : 1
    "
  >
    <mat-card
      (click)="projectChoice(project)"
      class="card-width mat-elevation-z2"
    >
      <mat-card-title>
        {{ project.projectName }}
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-grid-list cols="5" rowHeight="3:2">
          display the first 10 files -
          <mat-grid-tile
            *ngFor="let files of project.files; let j = index"
            class="gridtitle-override"
          >
            <img src="assets/icons/{{ files.type }}.png" width="80" />
            <h3 class="file-title mat-subheading-2">
              {{ files.getName() }}
            </h3>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->
