// mat-grid-tile {
//   //background: lightblue;
// }

// .card-width {
//   width: 55%;
// }

// .file-title {
//   position: absolute;
//   top: 80%;
// }

// .gridtitle-override {
//   //background: chartreuse;
// }

// .wrapper-tile {
//   min-height: 200px;
// }

/////////////////////////////////////
// Menu and content grid-container //
/////////////////////////////////////

// .grid-container {
//   display: grid;
//   grid-template-columns: 20% 80%;
// }

// .grid-item {
//   box-sizing: border-box;
//   padding: 10px;
// }

//General container

// // Menu container
// #menu {

// }

// // Content container
// #content {

// }
:host {
  flex-grow: 1;
  min-height: 0;
  display: flex;
}
