<div
  id="canvas"
  [ngClass]="{ minimize: !isFullscreen, fullscreen: isFullscreen }"
>
  <app-model-tree-viewer
    [treeViewer]="treeViewer"
    [scrollTo]="scrollTo"
    [show]="show"
  ></app-model-tree-viewer>

  <app-colormap [colorMapdata]="colormapData.asObservable()"></app-colormap>

  <i id="switch-fullscreen" class="fas fa-expand"></i>

  <div id="clip-container" style="display: none;">
    <div class="clip-wrapper xclip">
      <div class="clip-label">X</div>
      <div class="clip-button">
        <div class="render-plane" title="Render the clipping plane">
          <i class="fas fa-vector-square"></i>
        </div>
        <div class="flip-plane" title="Flip the clipping plane direction">
          <i class="fas fa-exchange-alt"></i>
        </div>
      </div>
      <div class="clip-slider">
        <input type="range" class="slider" />
        <input type="number" class="slider-input" value="0" />
      </div>
    </div>

    <div class="clip-wrapper zclip">
      <div class="clip-label">Y</div>
      <div class="clip-button">
        <div class="render-plane" title="Render the clipping plane">
          <i class="fas fa-vector-square"></i>
        </div>
        <div class="flip-plane" title="Flip the clipping plane direction">
          <i class="fas fa-exchange-alt"></i>
        </div>
      </div>
      <div class="clip-slider">
        <input type="range" class="slider" />
        <input type="number" class="slider-input" value="0" />
      </div>
    </div>

    <div class="clip-wrapper yclip">
      <div class="clip-label">Z</div>
      <div class="clip-button">
        <div class="render-plane" title="Render the clipping plane">
          <i class="fas fa-vector-square"></i>
        </div>
        <div class="flip-plane" title="Flip the clipping plane direction">
          <i class="fas fa-exchange-alt"></i>
        </div>
      </div>
      <div class="clip-slider">
        <input type="range" class="slider" />
        <input type="number" class="slider-input" value="0" />
      </div>
    </div>
    <div id="close-clip-panel">Close control panel</div>
  </div>
</div>
