.minimize {
  width: 100%;
  height: 720px;
  position: relative;
}

.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

#switch-fullscreen {
  position: absolute;
  bottom: 6px;
  right: 6px;
  cursor: pointer;
  z-index: 20000;
  font-size: 30px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#switch-fullscreen:hover {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transform: translate(4px, 4px);
  -ms-transform: translate(4px, 4px);
  transform: translate(4px, 4px);
  font-size: 38px;
}

/* CLIP PLANE GUI */

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 0;
  margin-top: 0;
  width: 220px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.clip-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 300px;
  height: 50px;
}

.clip-label {
  opacity: 0.7;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background: #d3d3d3;
  text-align: center;
  line-height: 50px;
  width: 30px;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.clip-label:hover {
  opacity: 1;
}

.clip-button {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 270px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clip-button > * {
  width: 50%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background: #d3d3d3;
}

.clip-button > *:hover {
  opacity: 1;
}

.clip-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.clip-action-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.slider-input {
  border: none;
  outline: none;
  padding: 0;
  width: 50px;
  height: 25px;
  opacity: 0.7;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background: #d3d3d3;
}

#clip-container {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 20000;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#close-clip-panel {
  font-size: 0.85em;
  text-align: center;
  background: #999999;
  color: white;
  cursor: pointer;
  opacity: 0.7;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#close-clip-panel:hover {
  opacity: 1;
}
