<!--
  1- header profile data
  2- main content
  3- pop up edit photo
  4- pop up edit profile
-->

<!----------------------------------------------------------
                      HEADER PROFIL DATA
----------------------------------------------------------->

<mat-toolbar class="profileHeader mat-elevation-z3" color="accent">
  <!-- PROFILE PICTURE-->
  <div
    class="profileImg"
    [ngStyle]="{ 'background-image': 'url(' + photoUrl + ')' }"
    *ngIf="this.userInfos"
  >
    <input
      type="file"
      accept="image/*"
      style="display: none;"
      #file
      (change)="changeProfilePhoto($event.target.files)"
    />

    <mat-icon
      class="editIcon"
      *ngIf="ownProfile"
      (click)="file.click()"
      matTooltip="Only .png/.jpg/.jpeg  max-size: 3 Mo"
      matTooltipClass="tooltip"
    >
      edit
    </mat-icon>
  </div>
  <div class="profileMainInfo" *ngIf="this.userInfos">
    <div class="profileInfoName">
      {{
        this.userInfos.firstName.charAt(0).toUpperCase() +
          this.userInfos.firstName.slice(1) +
          ' ' +
          this.userInfos.lastName.toUpperCase()
      }}
      <mat-icon
        class="mat-18"
        matTooltip="This user is an Expert"
        color="primary"
        style="size: 3px; margin-right: 3px;"
      >
        architecture</mat-icon
      >
    </div>
    <div class="profileInfoTitle">
      {{ this.expert ? this.expert.title : '' }}
    </div>

    <!-- FIELDS -->
    <div class="profileInfoUnder">
      <div class="profileInfoFields">
        <div>
          <mat-icon class="profile-main-data-icon" matSuffix color="primary"
            >description</mat-icon
          >
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'expertStudies'
            )
          }}
          :
        </div>
        <div>
          <mat-icon class="profile-main-data-icon" matSuffix color="primary"
            >business</mat-icon
          >
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'expertTechnicalAssistance'
            )
          }}
          :
        </div>
        <div>
          <mat-icon class="profile-main-data-icon" matSuffix color="primary"
            >attach_money</mat-icon
          >
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'expertWage'
            )
          }}
          :
        </div>
        <div>
          <mat-icon class="profile-main-data-icon" matSuffix color="primary"
            >star</mat-icon
          >
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'expertRanking'
            )
          }}
          :
        </div>
      </div>

      <!-- VALUES -->
      <div class="profileInfoValues">
        <span *ngIf="this.expert">
          <mat-slide-toggle
            #toggleStudies
            class="headerInfoValue"
            color="primary"
            [(ngModel)]="this.expert.studies"
            [checked]="this.expert.studies"
            (change)="onFixedPriceStudiesChange(toggleStudies.checked)"
            stlye="margin-left: 0.8em;"
          >
            {{
              this.expert.studies
                ? this.translateService.getTranslation(
                    this.translatePage,
                    'yes'
                  )
                : this.translateService.getTranslation(this.translatePage, 'no')
            }}
          </mat-slide-toggle>
          <br />
          <mat-slide-toggle
            #toggleTechAssist
            class="headerInfoValue"
            color="primary"
            [(ngModel)]="this.expert.technicalAssistance"
            [checked]="this.expert.technicalAssistance"
            (change)="onTechAssistanceChange(toggleTechAssist.checked)"
            stlye="margin-left: 0.8em;"
          >
            {{
              this.expert.technicalAssistance
                ? this.translateService.getTranslation(
                    this.translatePage,
                    'yes'
                  )
                : this.translateService.getTranslation(this.translatePage, 'no')
            }}
          </mat-slide-toggle>
        </span>

        <div class="headerInfoValue">
          {{ this.expert ? this.expert.wage : '' }} €/{{
            this.translateService.getTranslation(
              this.translatePage,
              'expertWageUnity'
            )
          }}
        </div>

        <div class="headerInfoValue">
          {{ this.expert ? this.expert.rating : '' }}
        </div>
      </div>
    </div>
  </div>

  <!-- Physics / domains / availability  -->
  <div class="wrapperReturnback">
    <div class="profileInfoIcons" *ngIf="this.userInfos">
      <div class="expertisePhysics">
        <div class="expertisePhysicsTitles">
          <span
            >{{
              this.translateService.getTranslation(
                this.translatePage,
                'physics'
              )
            }}
            :</span
          ><br />
          <span
            >{{
              this.translateService.getTranslation(
                this.translatePage,
                'domains'
              )
            }}
            :</span
          >
        </div>
        <div class="expertisePhysicsIcons">
          <span *ngFor="let expertise of expertises">
            <img
              src="{{ expertise.img }}"
              class="profileInfoIcon"
              *ngIf="this.expertiseService.expertiseIsValidated(expertise)"
            />
          </span>
          <br />
          <span *ngFor="let area of areas">
            <img src="{{ area.img }}" class="profileInfoIcon" color="primary" />
          </span>
        </div>
      </div>

      <div class="availableText" *ngIf="ownProfile && this.expert">
        {{
          this.translateService.getTranslation(this.translatePage, 'available')
        }}
        :
        <mat-slide-toggle
          #toggle
          class="example-margin"
          color="primary"
          [(ngModel)]="this.expert.available"
          [checked]="this.expert.available"
          (change)="onAvailabilityChange(toggle.checked)"
          stlye="margin-left: 0.8em;"
        >
          {{
            this.expert.available
              ? this.translateService.getTranslation(this.translatePage, 'yes')
              : this.translateService.getTranslation(this.translatePage, 'no')
          }}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="rightButton" *ngIf="this.userInfos">
      <button
        mat-raised-button
        *ngIf="ownProfile == true"
        (click)="opClEditMode()"
      >
        {{
          this.translateService.getTranslation(
            this.translatePage,
            'editProfile'
          )
        }}
        <mat-icon matSuffix>edit</mat-icon>
      </button>
      <button
        mat-raised-button
        *ngIf="ownProfile == false && connectedIsExpert == false"
        (click)="onClickFavourite()"
      >
        {{
          this.translateService.getTranslation(
            this.translatePage,
            'addFavorites'
          )
        }}
        <mat-icon matSuffix>favorites</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<!----------------------------------------------------------
                      MAIN CONTENTS
----------------------------------------------------------->

<!-- Container to put margin ->  "a propos" / "demandes" / "projects" / "expertises" -->
<div class="marginContainer">
  <div class="profileContent">
    <mat-card class="lateralPanel">
      <h3
        class="first"
        [ngClass]="{ current: selectedMenuItem == 'about' }"
        (click)="changeSection('about')"
      >
        {{ this.translateService.getTranslation(this.translatePage, 'about') }}
      </h3>
      <h3
        [ngClass]="{ current: selectedMenuItem == 'demands' }"
        (click)="changeSection('demands')"
      >
        {{
          this.translateService.getTranslation(this.translatePage, 'demands')
        }}
        <h4>(Coming soon)</h4>
      </h3>
      <h3
        [ngClass]="{ current: selectedMenuItem == 'projects' }"
        (click)="changeSection('projects')"
      >
        {{
          this.translateService.getTranslation(this.translatePage, 'projects')
        }}
      </h3>
      <h3
        [ngClass]="{ current: selectedMenuItem == 'expertises' }"
        (click)="changeSection('expertises')"
      >
        {{
          this.translateService.getTranslation(this.translatePage, 'expertises')
        }}
      </h3>
    </mat-card>

    <!----------------------------------------  about / " apropos" --------------------------->
    <mat-card class="centralPanel">
      <div *ngIf="selectedMenuItem === 'about'">
        <h3>
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'aboutExpert'
            )
          }}
        </h3>
        <table>
          <tr *ngFor="let elem of expertDatas">
            <td class="label">
              {{
                this.translateService.getTranslation(translatePage, elem.label)
              }}
            </td>
            <td *ngIf="elem.label != 'languages' && elem.label != 'softwares'">
              {{ elem.data }}
            </td>
            <td *ngIf="elem.label == 'languages' || elem.label == 'softwares'">
              <span *ngFor="let e of elem.data; last as last">
                <span *ngIf="!last">
                  {{
                    this.translateService.getTranslation(languagePage, e) + ', '
                  }}
                  <!-- This is working for softwares because getTranslation return the same word if it can't translate it -->
                </span>
                <span *ngIf="last">
                  {{ this.translateService.getTranslation(languagePage, e) }}
                </span>
              </span>
            </td>
          </tr>
        </table>
      </div>

      <!----------------------------------------  demands / "demandes" --------------------------->
      <div *ngIf="selectedMenuItem === 'demands'">
        <h3>
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'demandsUser'
            )
          }}
        </h3>
        <table>
          <tr *ngFor="let elem of expertDemands; last as last">
            <td class="label">{{ elem.project }}</td>
            <td>
              <mat-progress-bar
                mode="determinate"
                value="{{ elem.progress * 25 }}"
              >
              </mat-progress-bar>
            </td>
            <td class="progressNum">({{ elem.progress }}/4)</td>
          </tr>
        </table>
      </div>

      <!----------------------------------------  projects / "projets" --------------------------->
      <div *ngIf="selectedMenuItem === 'projects'" class="projectsContainer">
        <h3>
          {{
            this.translateService.getTranslation(this.translatePage, 'projects')
          }}
        </h3>

        <div class="projectsDiv">
          <div
            *ngFor="let project of projectRoles"
            class="projectDiv"
            (click)="navigateToProject(project.id)"
          >
            <h4 class="projectName">{{ project.name }}</h4>
            <div class="projectImgDiv">
              <div class="stackable">
                <div class="b-container">
                  <mat-progress-spinner
                    value="{{
                      project.globalprogress != null
                        ? project.globalprogress
                        : 0
                    }}"
                    diameter="160"
                    strokeWidth="10"
                    class="project-image"
                    [color]="updateColor(project.globalprogress)"
                  >
                  </mat-progress-spinner>
                  <img
                    class="projectImg"
                    src="{{ project.image }}"
                    src-fallback="{{ fallbackImage }}"
                  />
                </div>
              </div>
            </div>

            <p class="role">{{ project.role }}</p>
            <!-- test remove text role: -->
          </div>
        </div>
      </div>

      <!----------------------------------------  expertises --------------------------->
      <div *ngIf="selectedMenuItem === 'expertises'">
        <h3>
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'expertises'
            )
          }}
        </h3>
        <div class="expertisesContainer">
          <div
            *ngFor="let expertise of expertises"
            [ngClass]="{
              disabled: !this.expertiseService.expertiseIsValidated(expertise)
            }"
          >
            <img src="{{ expertise.img }}" />
            <h4>
              {{
                translateService.getTranslation(
                  expertise.translateEnum,
                  expertise.name
                )
              }}
            </h4>
            <ul>
              <li
                *ngFor="let elem of expertise.subExpertises"
                [ngClass]="{ disabledLi: elem.done == false }"
              >
                <mat-checkbox
                  color="primary"
                  [checked]="elem.done"
                  (change)="onExpertiseCBClic(expertise.name, elem.name)"
                >
                  {{
                    translateService.getTranslation(
                      expertise.translateEnum,
                      elem.name
                    )
                  }}
                </mat-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<!----------------------------------------------------------
                      POPUP EDIT PHOTO
----------------------------------------------------------->

<app-edit-profile-photo
  *ngIf="photoEditMode"
  profileId="{{ this.profileId }}"
  (openEvent)="opClEditPhoto()"
>
</app-edit-profile-photo>
