/*
    Flaticon icon font: Flaticon
    Creation date: 14/11/2019 15:11
    */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff2") format("woff2"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-monitor:before {
  content: "\f100";
}
.flaticon-laptop:before {
  content: "\f101";
}
.flaticon-user:before {
  content: "\f102";
}
.flaticon-augmented-reality:before {
  content: "\f103";
}

$font-Flaticon-monitor: "\f100";
$font-Flaticon-laptop: "\f101";
$font-Flaticon-user: "\f102";
$font-Flaticon-augmented-reality: "\f103";
