/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/11/2019 15:11
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff2") format("woff2"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon, monospace;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-monitor:before {
  content: "\f100";
}
.flaticon-laptop:before {
  content: "\f101";
}
.flaticon-user:before {
  content: "\f102";
}
.flaticon-augmented-reality:before {
  content: "\f103";
}
