<div class="jobs">
  <div class="tableHeader">
    <button (click)="this.refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
    <form>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
      </mat-form-field>
    </form>
  </div>

  <table mat-table [dataSource]="this.dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="functionalId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.functionalId }}</td>
    </ng-container>
    <ng-container matColumnDef="submissionDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Submission date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.submissionDate | date: 'short':'+0200' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startDate | date: 'short':'+0200' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.endDate | date: 'short':'+0200' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="cpu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CPU</th>
      <td mat-cell *matCellDef="let element">{{ element.cpu }}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td
        mat-cell
        *matCellDef="let element"
        [matTooltip]="this.jobService.getDescFromCode(element.status)"
        matTooltipPosition="above"
      >
        {{ this.jobService.getNameFromCode(element.status) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
      <td mat-cell *matCellDef="let element">{{ element.cost }} €</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="downloadJobFile(element)">
          <mat-icon color="primary">cloud_download</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="7" showFirstLastButtons></mat-paginator>
</div>
<div class="loadingScreen" *ngIf="this.jobsLoading">
  <mat-spinner color="primary"></mat-spinner>
</div>
