:host {
  .jobs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tableHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      button {
        width: 40px;
        height: 40px;
        align-self: center;
      }

      form {
        align-self: flex-end;
        margin-top: 10px;
      }
    }

    table {
      width: 95%;

      th,
      td {
        text-align: center;
        padding: 0;
      }

      th {
        ::ng-deep .mat-sort-header-container {
          padding-left: 8px;
          text-align: center;
          display: inline-block;
          width: 100%;

          button {
            display: inline-block;
          }

          ::ng-deep .mat-sort-header-arrow {
            display: inline-flex;
          }
        }
      }

      td {
        border-right: none;
        border-left: none;
      }
    }

    ::ng-deep .mat-paginator {
      margin-top: 1px;
    }

    ::ng-deep .mat-paginator-page-size {
      display: none;
    }
  }

  .loadingScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
