<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
  matSort
>
  <ng-container
    matColumnDef="{{ column }}"
    *ngFor="let column of columnsToDisplayWithoutActions"
  >
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td *matCellDef="let element">
      <button
        matTooltip="Modify user's credits"
        mat-mini-fab
        color="primary"
        (click)="openDialog(element.id)"
      >
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <app-z2c-credit-operation-list
          [creditsUser]="element"
        ></app-z2c-credit-operation-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>

<div id="buttonLargeDiv">
  <button
    matTooltip="Add operation"
    id="actionButton"
    mat-fab
    color="primary"
    (click)="openDialog(null)"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows> -->
<!-- Email User -->
<!-- <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>User's e-mail</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
</ng-container> -->
<!-- Company User -->
<!-- <ng-container matColumnDef="company">
    <mat-header-cell *matHeaderCellDef>User's company</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.company }} </mat-cell>
</ng-container> -->
<!-- First name -->
<!-- <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef>First name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.firstName }} </mat-cell>
</ng-container> -->
<!-- Last name -->
<!-- <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.lastName }} </mat-cell>
</ng-container> -->
<!-- Actual credits -->
<!-- <ng-container matColumnDef="credits">
    <mat-header-cell *matHeaderCellDef>User's actual credit</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.credits }}€ </mat-cell>
</ng-container> -->
<!-- Expanded Content Column -->
<!-- <ng-container matColumnDef="expandedDetail">
  <mat-cell class="example-element-detail" *matCellDef="let element" [attr.colspan]="displayedColumns.length">
    <div [@detailExpand]="isExpanded(element)">
        It works, right ?
    </div>
  </mat-cell>
</ng-container> -->
<!-- Actions -->
<!-- <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let element">
        <button matTooltip="Modify user's credits" mat-mini-fab color="primary" (click)="openDialog(element.id)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row
    matRipple
    *matRowDef="let row; columns: displayedColumns;"
    class="element-row"
    [class.expanded]="expandedElement == row"
    (click)="expandedElement == row?expandedElement = null:expandedElement = row"
    (click)="printTest(row)"
    >
</mat-row>
<mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" [@detailExpand]="isExpanded(row.element)" style="overflow: hidden" (click)="printTest(row)"></mat-row>
</mat-table> -->
