<div
  id="fab-dismiss"
  *ngIf="fabTogglerState === 'active'"
  (click)="onFABPress()"
></div>

<mat-card radius="24" class="mat-elevation-z3">
  <div class="header">
    <div class="breadcrumb">
      <h3 class="breadcrumbElem">
        <span (click)="goToStepInBreadcrumb('/')">My Z-Drive</span>
      </h3>
      <h3 class="breadcrumbElem" *ngFor="let step of currentPathSplittedArray">
        > <span (click)="goToStepInBreadcrumb(step)">{{ step }}</span>
      </h3>
    </div>
    <form>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
      </mat-form-field>
    </form>
  </div>

  <div id="table-container">
    <mat-table [dataSource]="tableDataSource" matSort>
      <ng-container matColumnDef="icon" class="iconRow">
        <mat-header-cell
          *matHeaderCellDef
          (click)="onBackArrowInBreadcrumbClick()"
          class="iconRow"
        >
          <img
            style="vertical-align: middle;"
            src="assets/icons/back_arrow.png"
            width="20"
          />
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="iconRow">
          <img
            style="vertical-align: middle;"
            src="assets/icons/{{ element.type }}.png"
            width="20"
          />
        </mat-cell>
      </ng-container>

      <!-- Package column-->
      <ng-container matColumnDef="package">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="align-table-element-right center-header-cell"
        >
          Package
        </mat-header-cell>
        <mat-cell
          class="align-table-element-right center-cell"
          *matCellDef="let element"
          >{{ element.package }}</mat-cell
        >
      </ng-container>

      <!-- Id column-->
      <ng-container matColumnDef="id_beta">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="align-table-element-right center-header-cell"
        >
          Id
        </mat-header-cell>
        <mat-cell
          class="align-table-element-right center-cell"
          *matCellDef="let element"
          >{{ element.idBeta }}</mat-cell
        >
      </ng-container>

      <!-- Name column-->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.displayName }}</mat-cell>
      </ng-container>

      <!-- Last modified column-->
      <ng-container matColumnDef="lastModified">
        <mat-header-cell
          class="align-table-element-right"
          *matHeaderCellDef
          mat-sort-header
        >
          Modified
        </mat-header-cell>
        <mat-cell class="align-table-element-right" *matCellDef="let element">
          {{ element.modified | date: 'dd MMM y  HH:mm' }}
        </mat-cell>
      </ng-container>

      <!-- Size column-->
      <ng-container matColumnDef="size">
        <mat-header-cell
          class="align-table-element-right"
          *matHeaderCellDef
          mat-sort-header
        >
          Size
        </mat-header-cell>
        <mat-cell class="align-table-element-right" *matCellDef="let element">{{
          formatBytes(element.size)
        }}</mat-cell>
      </ng-container>

      <!-- Type column-->
      <ng-container matColumnDef="type">
        <mat-header-cell
          arrowPosition="before"
          class="align-table-element-right"
          *matHeaderCellDef
          mat-sort-header
        >
          Type
        </mat-header-cell>
        <mat-cell class="align-table-element-right" *matCellDef="let element">{{
          getExtensionOfAFile(element)
        }}</mat-cell>
      </ng-container>

      <!-- Commands column (delete, download)-->
      <ng-container matColumnDef="commands">
        <mat-header-cell class="align-table-element-right" *matHeaderCellDef>
          <mat-checkbox
            *ngIf="driveFiles && driveFiles.length > 0"
            color="primary"
            class="margin_to_right"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>

          <button
            matTooltip="Delete selected elements"
            aria-label="Button that allows to delete selected elements"
            *ngIf="multiSelectionCanDelete()"
            mat-icon-button
            color="primary"
            (click)="deleteMultiple()"
          >
            <mat-icon
              matBadge="{{ selection.selected.length }}"
              matBadgePosition="above after"
              >delete_forever</mat-icon
            >
          </button>
          <button
            matTooltip="Download selected elements"
            aria-label="Button that allows to download selected elements"
            *ngIf="multiSelectionCanDownload()"
            mat-icon-button
            color="primary"
            (click)="downloadMultiple()"
          >
            <mat-icon
              matBadge="{{ selection.selected.length }}"
              matBadgePosition="above after"
              >cloud_download</mat-icon
            >
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="align-table-element-right">
          <mat-checkbox
            color="primary"
            class="margin_to_right"
            *ngIf="element.canDelete || element.canDownload"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)"
          >
          </mat-checkbox>

          <button
            *ngIf="element.canDelete"
            color="primary"
            mat-icon-button
            (click)="deleteElement(element)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button
            *ngIf="element.canDownload"
            color="primary"
            mat-icon-button
            (click)="downloadElement(element)"
          >
            <mat-icon>cloud_download</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row
      >false
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onRowClick(row)"
      ></mat-row>
    </mat-table>
  </div>

  <div class="fab-container" *ngIf="allowedToShowFab">
    <button class="fab" mat-fab color="primary" (click)="onFABPress()">
      <mat-icon [@fabToggler]="{ value: fabTogglerState }">add</mat-icon>
    </button>
    <div [@speedDialStagger]="buttons.length">
      <button
        *ngFor="let btn of buttons"
        (click)="btn.openDialog()"
        matTooltip="{{ btn.tooltip }}"
        mat-fab
        color="accent"
        class="fab-secondary"
      >
        <mat-icon>{{ btn.icon }}</mat-icon>
      </button>
    </div>
  </div>

  <div class="spinnerDiv" *ngIf="loadingFiles">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</mat-card>
