:host {
  padding: 10px;
  flex-grow: 8;
  max-height: calc(100% - 30px);
  min-height: 0;

  mat-card {
    border-radius: 8px;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .header {
      margin-top: 2px;
      display: flex;
      justify-content: space-between;

      .breadcrumb {
        padding-top: 1.5%;
        padding-left: 2%;
        width: 100%;
      }

      .breadcrumbElem {
        display: contents;
        font-weight: 500;
        font-size: 100%;
        color: rgba(150, 150, 150);

        span {
          cursor: pointer;
        }
      }

      form {
        margin-right: 3%;

        mat-form-field {
          border-top: 0;
        }
      }
    }

    #table-container {
      width: 100%;
      min-height: 0;
      overflow-y: scroll;

      mat-table {
        width: 100%;

        mat-header-cell {
          font-weight: bold;
          font-size: 85%;

          img {
            color: rgb(163, 163, 163);
            cursor: pointer;
          }
        }

        mat-cell {
          cursor: pointer;
        }

        .iconRow {
          flex: 0 0 6% !important;
        }
      }
    }

    .spinnerDiv {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }
  }

  // Custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
  }
}

.fab {
  float: right;
  z-index: 100;
}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;
    button {
      margin-bottom: 17px;
    }
  }
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: #000;
}

#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.upload-drop-zone {
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1c8adb;
  border-radius: 10px;
}

.upload-drop-zone:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.container {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }
}

.align-table-element-right {
  display: flex;
  justify-content: flex-end;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #c60800 !important;
}

.margin_to_right {
  margin-right: 5%;
}

.mat-column-package {
  flex: 0 0 8%;
  width: 8%;
}

.mat-column-name {
  flex: 0 0 30%;
  width: 30%;
}

.mat-column-id_beta {
  flex: 0 0 8%;
  width: 8%;
}

.mat-column-type {
  flex: 0 0 7%;
  width: 7%;
}

.center-header-cell {
  flex-direction: column;
  justify-content: center;
}

.center-cell {
  text-align: center;
  justify-content: center;
}
