.input-field {
  width: 100%;
}

mat-card {
  width: 50%;
  min-width: 280px;
  margin: 2em auto;
  text-align: center;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

mat-radio-button {
  padding-bottom: 10px;
}

#buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  margin: auto;
  height: 100%;
}

button.noAccess {
  background-color: rgba(200, 200, 200, 0.5);
  color: rgba(200, 200, 200, 0.8);
  cursor: not-allowed;
}

button.accessOk {
  background-color: red;
  color: white;
  cursor: pointer;
}

.return {
  text-decoration: underline;
}

.return:hover {
  color: #c60800;
  cursor: pointer;
}
