<mat-grid-list cols="3" rowHeight="2rem">
  <mat-grid-tile [colspan]="1" [rowspan]="5"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="5"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <img id="logo" src="/assets/logos/logo.png" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="17">
    <mat-card>
      <mat-card-title>Create a new account</mat-card-title>
      <mat-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <p>
            <!-- EMAIL FIELD-->
            <mat-form-field class="input-field">
              <input
                type="text"
                id="email"
                matInput
                placeholder="{{
                  this.translateService.getTranslation(
                    this.translatePage,
                    'email'
                  )
                }}"
                formControlName="email"
                required
              />
              <mat-error *ngIf="this.f['email'].hasError('email')">
                {{ getMailError() }}
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <!-- PASSWORD FIELD-->
            <mat-form-field class="input-field">
              <input
                [type]="passwordIsHidden ? 'password' : 'text'"
                matInput
                id="password"
                placeholder="{{
                  this.translateService.getTranslation(
                    this.translatePage,
                    'password'
                  )
                }}"
                formControlName="password"
                required
              />
              <mat-error *ngIf="this.f['password'].hasError('pattern')">
                {{ getPasswordStrengthError() }}
              </mat-error>
              <mat-icon
                matSuffix
                matTooltip="Toggle password visibility"
                (click)="passwordIsHidden = !passwordIsHidden"
                >{{
                  passwordIsHidden ? 'visibility_off' : 'visibility'
                }}</mat-icon
              >
            </mat-form-field>
          </p>
          <p>
            <!-- PASSWORD CONFIRMATION FIELD-->
            <mat-form-field class="input-field">
              <input
                [type]="passwordIsHidden ? 'password' : 'text'"
                matInput
                id="rpassword"
                placeholder="{{
                  this.translateService.getTranslation(
                    this.translatePage,
                    'passwordRepeat'
                  )
                }}"
                formControlName="checkPassword"
                required
              />
              <mat-icon
                matSuffix
                matTooltip="Toggle password visibility"
                (click)="passwordIsHidden = !passwordIsHidden"
                >{{
                  passwordIsHidden ? 'visibility_off' : 'visibility'
                }}</mat-icon
              >
              <mat-error *ngIf="this.f['checkPassword'].hasError('confirm')">
                {{ getCheckPasswordError() }}
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <!-- NAME FIELD-->
            <mat-form-field class="input-field">
              <input
                type="text"
                matInput
                id="firstName"
                placeholder="{{
                  this.translateService.getTranslation(
                    this.translatePage,
                    'firstName'
                  )
                }}"
                formControlName="firstName"
                required
              />
            </mat-form-field>
          </p>
          <p>
            <!-- LAST NAME FIELD-->
            <mat-form-field class="input-field">
              <input
                type="text"
                matInput
                id="lastName"
                placeholder="{{
                  this.translateService.getTranslation(
                    this.translatePage,
                    'lastName'
                  )
                }}"
                formControlName="lastName"
                required
              />
            </mat-form-field>
          </p>

          <p>
            <label id="mode-radio-group-label"></label>
            <mat-radio-group
              aria-labelledby="mode-radio-group-label"
              class="mode-radio-group"
              color="primary"
              formControlName="mode"
            >
              <mat-radio-button
                class="mode-radio-button"
                *ngFor="let season of seasons"
                [value]="season.value"
              >
                {{ season.text }}
              </mat-radio-button>
            </mat-radio-group>
          </p>

          <div id="buttons">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              id="login-button"
            >
              {{
                this.translateService.getTranslation(
                  this.translatePage,
                  'createAccount'
                )
              }}
            </button>
            <span (click)="router.navigate(['login'])" class="return">
              {{
                this.translateService.getTranslation(
                  this.translatePage,
                  'return'
                )
              }}
            </span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
