.input-field {
  width: 100%;
  margin-top:20px;
}

mat-card {
  width: 50%;
  min-width: 280px;
  margin: 2em auto;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

.send{
  padding:0 70px;
  cursor: pointer!important;
  z-index: 1000
}
.title{
  font-weight: 800;
}


.cancel {
  cursor: pointer!important;
  background-color: transparent;
  text-decoration: underline;
  box-shadow: none;
  color:rgba(0, 0, 0, 0.70)!important;
  font-weight: 400;
  z-index: 1000;
}

span.mat-button-wrapper.cancel, span.mat-button-wrapper.login :hover{
  color: #c60800;
}

.login{
  padding:0 70px;
  z-index: 1000;
}

#logo {
  margin: auto;
  height: 100px;
}

mat-grid-tile.content {
  height: calc(21em + 1px);
  overflow: visible!important;
}

a{
  padding-top:10px;
}

.found{
  color:rgb(13, 85, 13);
  font-weight:600;
}

.notfound{
  color: #c60800;
  font-weight:600;
}


input {
  height: 1.1rem;
  padding: 5px;
}
