<mat-grid-list cols="3" rowHeight="8rem">
  <mat-grid-tile [colspan]="1" [rowspan]="5"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="5"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <img id="logo" src="/assets/logos/logo.png" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" class="content">
    <mat-card>
      <mat-card-title color="primary">Change my password</mat-card-title>
      <mat-card-content>
        <form
          [formGroup]="resetPasswordForm"
          (ngSubmit)="onSubmit(resetPasswordForm)"
        >
          <br />

          <div *ngIf="userInfos; else elseBlock" class="title">
            <p>Hi {{ userInfos.firstName }} !</p>
          </div>
          <ng-template #elseBlock class="title">
            <p>
              Sorry, we have some trouble to connect to the database. Please try
              again later.
            </p>
          </ng-template>
          <!-- new password -->

          <mat-form-field class="input-field">
            <input
              [type]="passwordIsHidden ? 'password' : 'text'"
              matInput
              id="password"
              placeholder="new password"
              formControlName="password"
            />
            <mat-error *ngIf="this.f['password'].hasError('pattern')">
              {{ getPasswordStrengthError() }}
            </mat-error>
            <mat-icon
              matSuffix
              matTooltip="Toggle password visibility"
              (click)="passwordIsHidden = !passwordIsHidden"
              >{{
                passwordIsHidden ? 'visibility_off' : 'visibility'
              }}</mat-icon
            >
          </mat-form-field>
          <br />
          <!-- new password confirmation-->

          <mat-form-field class="input-field">
            <input
              [type]="passwordIsHidden ? 'password' : 'text'"
              matInput
              id="checkPassword"
              placeholder="repeat password"
              formControlName="checkPassword"
            />
            <mat-icon
              matSuffix
              matTooltip="Toggle password visibility"
              (click)="passwordIsHidden = !passwordIsHidden"
              >{{
                passwordIsHidden ? 'visibility_off' : 'visibility'
              }}</mat-icon
            >
            <mat-error *ngIf="this.f['checkPassword'].hasError('confirm')">
              {{ getCheckPasswordError() }}
            </mat-error>
          </mat-form-field>

          <!-- <br /><br />
          <p *ngIf="dataIsOk">data is ok</p> -->
          <br /><br />

          <div id="buttons">
            <button
              *ngIf="cancel"
              type="submit"
              mat-raised-button
              color="primary"
              class="send"
              id="send-button"
            >
              Send
            </button>
            <button
              *ngIf="cancel"
              class="cancel"
              (click)="router.navigate([''])"
              mat-raised-button
            >
              cancel
            </button>
            <button
              *ngIf="login"
              class="login"
              color="primary"
              (click)="router.navigate(['login'])"
              mat-raised-button
            >
              login
            </button>
          </div>
        </form>
        <br />

        <div *ngIf="submitted && newPassword" class="found">
          Your password is now updated.
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
