<mat-card class="main-card">
  <mat-tab-group class="tab">
    <!------------------------------------------------------------------------------------>
    <!---------------------------------- Project MANAGEMENT ------------------------------>
    <!------------------------------------------------------------------------------------>
    <mat-tab label="Project managament">
      <ng-template matTabContent>
        <app-project></app-project>
      </ng-template>
    </mat-tab>
    <!------------------------------------------------------------------------------------>
    <!------------------------------------ USER MANAGEMENT ------------------------------->
    <!------------------------------------------------------------------------------------>
    <mat-tab label="Users management">
      <ng-template matTabContent>
        <app-user></app-user>
      </ng-template>
    </mat-tab>
    <!------------------------------------------------------------------------------------>
    <!------------------------------------ Z2C MANAGEMENT -------------------------------->
    <!------------------------------------------------------------------------------------>
    <mat-tab label="Z-2C credit management">
      <ng-template matTabContent>
        <app-z2c-credits></app-z2c-credits>
      </ng-template>
    </mat-tab>
    <!------------------------------------------------------------------------------------>
    <!------------------------------------ METEO API TEST -------------------------------->
    <!------------------------------------------------------------------------------------>
    <mat-tab label="Meteo API">
      <ng-template matTabContent>
        <app-meteo-api></app-meteo-api>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
