:host {
  flex-grow: 1;
  min-height: 0;
  display: flex;

  .main-card {
    flex-grow: 1;
    margin-right: 10px;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: flex-start;
  }

  .tab {
    width: 100%;
  }

  .editPopup {
    background-color: rgba(100, 100, 100, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10% 15%;

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
      margin: 13px 0;
    }

    mat-card {
      border-radius: 15px;
      max-height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      .updateLoading {
        background-color: rgba(100, 100, 100, 0.4);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h3 {
        margin-top: 2%;
        align-self: center;
        color: #cccccc;
        font-size: 25px;
      }

      mat-form-field {
        margin-top: 2%;
        margin-right: 3%;
        margin-left: 3%;
      }
      mat-divider {
        width: 94%;
        margin-left: 3%;
        border-top-width: 2px;
        border-top-color: rgb(180, 180, 180);
      }

      span {
        display: block;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 1.5%;
      }

      .submitButtons {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;

        button {
          height: 40px;
        }
      }
    }
  }
}
