<h1 mat-h2>
  Grant {{ isDisabled() ? actualUser.email : 'a user' }} permissions for a
  project
</h1>
<div mat-dialog-content>
  <p class="order">Which user will be granted permissions ?</p>
  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(value)]="selectedRole">
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{ role.display }}
      </mat-option>
    </mat-select> </mat-form-field
  ><br />
  <mat-form-field>
    <mat-label>{{ isDisabled() ? actualUser.email : 'User' }}</mat-label>
    <mat-select [(value)]="selectedUser">
      <mat-option *ngFor="let user of users" [value]="user.id">
        {{ user.email }}
      </mat-option>
    </mat-select> </mat-form-field
  ><br />
</div>
<div mat-dialog-actions>
  <button class="cancel" mat-button (click)="onNoClick()">Cancel</button>
  <button class="send" mat-button (click)="grantPermission()" cdkFocusInitial>
    Ok
  </button>
</div>
