
.mat-dialog-content {
  margin-bottom: -20px;
}

small{
  color:#c60800;
  font-style: italic;
  line-height: 1;
  // margin-left: 100px;
  font-weight: 500;
}

p.order, span {
  font-weight: 600;
  text-align: center;
}

ol, p {
  color: rgba(100,100,100,1);
  font-size: 0.8rem;
}


h1 {
  text-align: center;
  border-bottom: 1px solid rgba(150,150,150,0.5);
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight:600;
}

.mat-dialog-actions {
  float: right;
}

.send{
  color:#c60800;
  background-color: transparent;
}

.send:hover{
background-color: #c60800;
color:white;
}
