<mat-sidenav-container fullscreen>
  <mat-sidenav-content fxLayout="column">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer fxFlexOffset="auto"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
