<h1 mat-dialog-title>Modify user's credits</h1>
<div mat-dialog-content>
  <p class="order">
    Select a user, then the amount to add or remove to this user's credits.
  </p>
  <p>Amount examples:</p>
  <ul>
    <li>"450"</li>
    <li>"450.05"</li>
    <li>"-450.05"</li>
  </ul>
  <br />
  <br />

  <mat-form-field>
    <mat-label>User</mat-label>
    <mat-select [(ngModel)]="data.userId">
      <mat-option *ngFor="let user of data.users" [value]="user.id">
        {{ user.email }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="data.amount" />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()" class="cancel">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="send">
    Ok
  </button>
</div>
