<!----------------------------------------  header ---------------------------------->
<mat-toolbar class="profileHeader mat-elevation-z3" color="accent">
  <!-- avatar -->
  <div
    class="profileImg"
    *ngIf="userInfos"
    [ngStyle]="{ 'background-image': 'url(' + photoUrl + ')' }"
  >
    <input
      type="file"
      accept="image/*"
      style="display: none;"
      #file
      (change)="changeProfilePhoto($event.target.files)"
    />
    <mat-icon class="editIcon" *ngIf="ownProfile" (click)="file.click()"
      >edit</mat-icon
    >
  </div>

  <!-- main info : Company | service | rating  -->
  <div class="profileMainInfo" *ngIf="this.userInfos && this.client">
    <div class="profileInfoName">
      {{
        this.userInfos.firstName + ' ' + this.userInfos.lastName.toUpperCase()
      }}
    </div>

    <!-- title-->
    <div class="profileInfoUnder">
      <div class="profileInfoFields">
        <div>
          <mat-icon class="profile-main-data-icon" matSuffix color="primary"
            >description</mat-icon
          >
          {{
            this.translateService.getTranslation(this.translatePage, 'company')
          }}
          :
        </div>
        <div>
          <mat-icon class="profile-main-data-icon" matSuffix color="primary"
            >business</mat-icon
          >
          {{
            this.translateService.getTranslation(this.translatePage, 'service')
          }}
          :
        </div>
        <div>
          <mat-icon class="profile-main-data-icon" matSuffix color="primary"
            >attach_money</mat-icon
          >
          {{
            this.translateService.getTranslation(this.translatePage, 'rating')
          }}
          :
        </div>
      </div>

      <!-- values-->
      <div class="profileInfoValues">
        <div class="headerInfoValue">{{ this.userInfos.company }}</div>

        <div class="headerInfoValue">{{ this.client.service }}</div>

        <div class="headerInfoValue">{{ this.client.rating }} / 100</div>
      </div>
    </div>
  </div>

  <!-- domains -->
  <div class="wrapperReturnback">
    <div class="profileInfoIcons" *ngIf="this.userInfos">
      <div>
        {{
          this.translateService.getTranslation(this.translatePage, 'domains')
        }}
        :
        <span *ngFor="let area of areas">
          <img src="{{ area.img }}" class="profileInfoIcon" color="primary" />
        </span>
      </div>
    </div>
    <div class="rightButton" *ngIf="this.userInfos">
      <button mat-raised-button *ngIf="ownProfile" (click)="opClEditMode()">
        {{
          this.translateService.getTranslation(
            this.translatePage,
            'editProfile'
          )
        }}
        <mat-icon matSuffix>edit</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<!----------------------------------------  content ---------------------------------->
<div class="marginContainer">
  <div class="profileContent">
    <!---------- lateral menu --------->
    <!-- about -->
    <mat-card class="lateralPanel">
      <h3
        class="first"
        [ngClass]="{ current: selectedMenuItem == 'about' }"
        (click)="changeSection('about')"
      >
        {{ this.translateService.getTranslation(this.translatePage, 'about') }}
      </h3>

      <!-- demands -->
      <h3
        [ngClass]="{ current: selectedMenuItem == 'demands' }"
        (click)="changeSection('demands')"
      >
        {{
          this.translateService.getTranslation(this.translatePage, 'demands')
        }}
        <h4>(Coming soon)</h4>
      </h3>

      <!-- projects -->
      <h3
        [ngClass]="{ current: selectedMenuItem == 'projects' }"
        (click)="changeSection('projects')"
      >
        {{
          this.translateService.getTranslation(this.translatePage, 'projects')
        }}
      </h3>

      <!---------- central panel  --------->
    </mat-card>
    <mat-card class="centralPanel">
      <!-- about -->
      <div *ngIf="selectedMenuItem === 'about'">
        <h3>
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'aboutClient'
            )
          }}
        </h3>
        <table>
          <tr *ngFor="let elem of clientDatas">
            <td class="label">
              {{
                this.translateService.getTranslation(translatePage, elem.label)
              }}
            </td>
            <td *ngIf="elem.label != 'languages' && elem.label != 'softwares'">
              {{ elem.data }}
            </td>
            <td *ngIf="elem.label == 'languages' || elem.label == 'softwares'">
              <span *ngFor="let e of elem.data; last as last">
                <span *ngIf="!last">
                  {{
                    this.translateService.getTranslation(languagePage, e) + ', '
                  }}
                  <!-- This is working for softwares because getTranslation return the same word if it can't translate it -->
                </span>
                <span *ngIf="last">
                  {{ this.translateService.getTranslation(languagePage, e) }}
                </span>
              </span>
            </td>
          </tr>
        </table>
      </div>

      <!-- demands -->
      <div *ngIf="selectedMenuItem === 'demands'">
        <h3>
          {{
            this.translateService.getTranslation(
              this.translatePage,
              'demandsUser'
            )
          }}
        </h3>

        <!-- projects -->
        <table>
          <tr *ngFor="let elem of clientDemands; last as last">
            <td class="label">{{ elem.project }}</td>
            <td>
              <mat-progress-bar
                mode="determinate"
                value="{{ elem.progress * 25 }}"
              >
              </mat-progress-bar>
            </td>
            <td class="progressNum">({{ elem.progress }}/4)</td>
          </tr>
        </table>
      </div>
      <div *ngIf="selectedMenuItem === 'projects'" class="projectsContainer">
        <h3>
          {{
            this.translateService.getTranslation(this.translatePage, 'projects')
          }}
        </h3>

        <div class="projectsDiv">
          <div
            *ngFor="let project of projectRoles"
            class="projectDiv"
            (click)="navigateToProject(project.id)"
          >
            <h4>{{ project.name }}</h4>
            <div class="projectImgDiv">
              <div class="stackable">
                <div class="b-container">
                  <mat-progress-spinner
                    value="{{
                      project.globalprogress != null
                        ? project.globalprogress
                        : 0
                    }}"
                    diameter="160"
                    strokeWidth="10"
                    class="{{ updateColorClass(project.globalprogress) }}"
                  >
                  </mat-progress-spinner>
                  <img
                    class="projectImg"
                    src="{{ project.image }}"
                    src-fallback="{{ fallbackImage }}"
                  />
                </div>
              </div>
            </div>
            <p class="role">{{ project.role }}</p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<!---------------------------------- Popup to edit profile photo -------------------------------->
<app-edit-profile-photo
  *ngIf="this.photoEditMode"
  profileId="{{ this.profileId }}"
  (openEvent)="OpClPpEditMode()"
>
</app-edit-profile-photo>
