:focus {
  border: none;
  outline-offset: 0;
}
:host {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;

  .profileHeader {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    padding: 1%;
    min-height: 220px;
    min-width: 870px;

    .profileImg {
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      height: 190px;
      min-width: 190px;
      margin-top: 30px;
      margin-left: 60px;
      margin-bottom: 25px;
      background-size: 90%;
      background-repeat: no-repeat;

      mat-icon {
        float: right;
        height: 20px;
        width: 20px;
        font-size: 18px;
        color: white;
        padding-left: 2px;
        margin-right: -8px;
        background-color: #c60800;
        cursor: pointer;
      }
    }

    .profileMainInfo {
      margin-left: 80px;
      height: 100%;
      flex-grow: 4;
      display: flex;
      flex-direction: column;

      .profileInfoName {
        margin-top: 20px;
        font-weight: bold;
        font-size: 28px;
        flex-grow: 1;
        color: #c60800;
      }

      .profileInfoTitle {
        font-weight: bold;
        font-size: 15px;
        flex-grow: 1;
        color: #666666;
      }

      .profileInfoUnder {
        display: flex;
        flex-direction: row;
        flex: 1;

        .profileInfoFields {
          font-size: 16px;
          margin: -5px 0;
          flex-grow: 1;
          display: flex;
          color: #666666;
          flex-direction: column;

          mat-icon {
            margin-top: 5px;
            font-size: 20px;
          }
        }

        .profileInfoValues {
          flex-grow: 3;
          //margin-right: 200px;
          color: #666666;
          margin: -5px 0;

          .headerInfoValue {
            font-size: 16px;
            color: #666666;
          }
        }
      }
    }

    .wrapperReturnback {
      flex-grow: 3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;

      .profileInfoIcons {
        flex-grow: 2;
        max-height: 100%;
        min-height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .profileInfoIcon {
          height: 32px;
          margin: 0 10px -4px 10px;
        }
      }

      .rightButton {
        flex-grow: 1;
        max-height: 100%;
        min-height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          color: #c60800;
          height: 48px;
          box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2),
            5px 5px 10px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        }
      }
    }
  }

  .marginContainer {
    flex-grow: 7;
    padding: 35px 40px 30px 40px;
    min-height: 160px;
    min-width: 790px;

    .profileContent {
      display: flex;
      flex-direction: row;
      height: 100%;
      min-height: 0;

      mat-card {
        border-radius: 8px;
        padding: 0;
        height: 100%;
        min-height: 0;
      }

      .lateralPanel {
        flex-grow: 1;
        margin-right: 10px;
        padding-left: 2%;
        padding-right: 2%;
        //min-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;

        h3 {
          font-weight: normal;
          color: rgb(150, 150, 150);
          cursor: pointer;

          &.current {
            font-weight: bold;
          }

          &.first {
            margin-top: 30%;
          }

          h4 {
            margin: 0;
            font-size: 10px;
            font-weight: normal;
          }
        }
      }

      .centralPanel {
        flex-grow: 8;
        max-width: 82%;
        min-width: 0;
        margin-left: 10px;
        overflow: auto;

        div {
          min-height: 0;
        }

        h3 {
          text-align: center;
          color: #cccccc;
          margin-top: 3%;
          margin-bottom: 4%;
        }

        table {
          border-collapse: collapse;
          width: 92%;
          margin-left: 3%;

          tr {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;

            td {
              width: 50%;
              height: 50px;
              //display: flex;
              flex-direction: row;
            }

            .label {
              padding-left: 2%;
            }

            .progressNum {
              padding-left: 1%;
            }
          }
        }

        .projectsContainer {
          display: flex;
          flex-direction: column;

          .projectsDiv {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .projectDiv {
              text-align: center;
              width: 160px;
              margin: 2%;
              display: flex;
              flex-direction: column;
              align-items: center;

              p {
                margin: 5px;
              }

              .role {
                font-size: 12px;
              }

              h4 {
                margin: 5px;
                font-weight: 800 !important;
                font-size: 1rem !important;
                max-width: 100%;
                word-wrap: break-word;
                height: 3em;
                text-align: center;
              }
              .projectImgDiv {
                border-radius: 50%;
                position: relative;
                width: 160px;
                height: 160px;
                cursor: pointer;

                img {
                  border-radius: 50%;
                  // position: absolute;
                  object-fit: cover;
                  overflow: hidden;
                  // clip: rect(5px,0px,0px,5px);
                  position: absolute;
                  top: 5.5%;
                  left: 5.5%;
                  height: 89%;
                  width: 89%;
                }
              }
            }
          }
          ::ng-deep .mat-progress-spinner.green,
          .mat-spinner {
            circle {
              stroke: green;
            }
          }
          ::ng-deep .mat-progress-spinner.red,
          .mat-spinner {
            circle {
              stroke: red;
            }
          }
        }

        .expertisesContainer {
          display: flex;
          flex-wrap: wrap;

          div {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              height: 80px;
            }

            ul {
              padding: 0;
              list-style-type: none;
              text-align: center;

              .disabledLi {
                opacity: 0.5;
                color: grey;
              }
            }

            &.disabled {
              opacity: 0.2;

              h4,
              ul {
                color: grey;
              }
            }
          }
        }
      }
    }
  }

  .editPopup {
    background-color: rgba(100, 100, 100, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10% 15%;

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
      margin: 13px 0;
    }

    mat-card {
      border-radius: 15px;
      max-height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      .updateLoading {
        background-color: rgba(100, 100, 100, 0.4);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h3 {
        margin-top: 2%;
        align-self: center;
        color: #cccccc;
        font-size: 25px;
      }

      mat-form-field {
        margin-top: 2%;
        margin-right: 3%;
        margin-left: 3%;
      }
      mat-divider {
        width: 94%;
        margin-left: 3%;
        border-top-width: 2px;
        border-top-color: rgb(180, 180, 180);
      }

      span {
        display: block;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 1.5%;
      }

      .competencies {
        margin-top: 3%;
        margin-right: 3%;
        margin-left: 3%;
        display: flex;
        flex-direction: row;
        overflow-y: hidden !important;

        ::-webkit-scrollbar {
          display: none;
        }

        .competenciesCheck {
          margin-left: 6%;
          margin-right: 6%;
        }
      }

      .submitButtons {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;

        button {
          height: 40px;
        }
      }
    }
  }

  // Custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160);
  }
}

//Style for first option in select for softwares in the edit profile popup
//Need to put it here 'cause it's an html element built by angular, "not in the classic dom"
.addSoftOption {
  ::ng-deep .mat-option-pseudo-checkbox {
    display: none;
  }

  .addSoftForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .projectImg {
    max-width: 100%;
    position: absolute;
    max-height: 100%;
    top: 2px;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(45% at 50% 49%);
    cursor: pointer;
    border: 6px solid white;
  }
}
