div.open-close {
  margin: 10px 0 30px 0;
}

/////////////////////
// header
/////////////////////

mat-icon {
  color: #d62929;
  margin-right: 10px;
  margin-top: 5px;
}

mat-panel-title {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding-top: 15px;
}

.mat-expansion-panel-header-description {
  margin: auto;
}

//////////////////////
// content
/////////////////////

a {
  color: rgba(214, 41, 41, 1);
  text-decoration: none;
  font-weight: bold;
}

h3 {
  width: 95%;
  border-bottom: 1px solid #d62929;
  font-weight: bold;
}

ul {
  list-style: none;
}
ul li::before {
  content: '\2022';
  color: #d62929;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol li::before {
  content: counter(li);
  color: #d62929;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  font-weight: bold;
}

ol li {
  counter-increment: li;
}

//open All & Close All buttons
button.control {
  height: 25px;
  font-size: 11px;
  border-radius: 20px;
  justify-content: center;
  color: white;
  background-color: #d62929;
  border: none;
  margin-right: 10px;
  padding: 0 10px;
  cursor: pointer;
}

button.control:hover {
  background-color: rgba(214, 41, 41, 0.5);
}
button.control:focus {
  background-color: white;
  border: 1px solid #d62929;
  color: red;
  outline: 0;
}
button.control:active {
  background-color: white;
  border: 1px solid rgba(214, 41, 41, 0.5);
  color: rgba(214, 41, 41, 0.5);
  outline: 0;
}

// :host(focus){
//   border:0px solid transparent;
// }

//goal : make panel scrollable but don't see the scrollbar on the hearder-panel : solution set scrollbar to transparent

.overflow {
  overflow: auto;
}
.documentation {
  max-height: 80%;
}

::-webkit-scrollbar {
  // width: 10px;
  // background-color: #f5f5f5;
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // background-color: #d62929;
  background-color: transparent;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.documentation-container {
  display: flex;
  flex-direction: row;
}

.nav-doc-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  top: 0;
  position: sticky;
  width: 12rem;
  padding-top: 20px;

  a {
    padding: 5px;
    color: #777777;
  }

  a:hover {
    color: #d62929;
  }
}

.content-doc-container {
  width: 100%;
  overflow: scroll;

  h2 {
    color: #d62929;
  }
}

.documentation-section {
  width: 100%;
  margin-bottom: 30px;
}

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
}
