<!-- template to add one panel-->
<!-- all options & doc : https://material.angular.io/components/expansion/examples

<mat-expansion-panel
    [expanded]="step === x" >>>>> the last+1
    (opened)="setStep(x)"
    class="documentation overflow"
  >
    <mat-expansion-panel-header>
      <mat-panel-title style="width: 30%;">
        <mat-icon class="titleIcon" >the name of the icon</mat-icon>
        <h2>change the principal title</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <h3>2nd title</h3>
    content

    <mat-action-row>
      <button
        mat-button
        color="primary"
        (click)="nextStep()"
        style="text-align: left;"
      >
        Next
      </button>
    </mat-action-row>

  </mat-expansion-panel> -->
<!-- end of template -->

<!-- title -->
<div class="documentation-container">
  <div class="nav-doc-container">
    <a href="z2c#Zelin-VPN">Zelin VPN</a>
    <a href="z2c#Zelin-Cluster">Zelin Cluster</a>
    <a href="z2c#Filezilla">Filezilla</a>
    <a href="z2c#STARCCM-job">STARCCM and job</a>
  </div>

  <div class="content-doc-container">
    <div class="documentation-section">
      <mat-panel-title id="Zelin-VPN">
        <mat-icon class="titleIcon">read_more</mat-icon>
        <h2>How to connect to Zelin VPN?</h2>
      </mat-panel-title>

      <!-- content -->
      <h3>First, make sure you have the following pre-requisites:</h3>
      <ul>
        <li>A good internet connection</li>
        <li>
          The ZelinVPN.ovpn file (sent by email by clicking on the Z2C
          dashboard)
        </li>
        <li>
          Login and Password (sent by email by clicking on the Z2C dashboard)
        </li>
        <li>
          Last version of Open VPN software from this
          <a href="https://openvpn.net/download-open-vpn/">link </a>
        </li>
      </ul>

      <h3>Steps for installing and connecting to OpenVPN are as follows:</h3>
      <ol>
        <li><span>Unzip</span> and start the <span>install</span> file</li>
        <li>Follow the default installation procedure</li>
        <li>
          Put the file ZelinVPN.ovpn in your installation directory: C:\Program
          Files\OpenVPN\config
        </li>
        <li>
          Start Open VPN:
          <br />
          <img
            src="assets/z2c-documentation/OpenVPN.png"
            alt="screenshot"
            style="width: 50%;"
          />
        </li>
        <li>Enter your login/password and click OK.</li>
        <li>You are now connected to Zelin VPN</li>
      </ol>
    </div>

    <div class="documentation-section">
      <mat-panel-title id="Zelin-Cluster">
        <mat-icon class="titleIcon">read_more</mat-icon>
        <h2>How to connect to Zelin Cluster?</h2>
      </mat-panel-title>

      <!-- content -->
      <h3>First, make sure you have the following pre-requisites:</h3>
      <ul>
        <li>A good internet connection to zelin VPN</li>
        <li>
          A ssh client server software like Moba xterm from this
          <a href="https://mobaxterm.mobatek.net/download-home-edition.html"
            >link
          </a>
        </li>
        <li>
          Login and Password (sent by email by clicking on the Z2C dashboard)
        </li>
      </ul>

      <h3>
        Steps for connecting to zelin cluster with Mobaxterm are as follows:
      </h3>
      <ol>
        <li>Open Mobaxterm</li>
        <li>Configure a new SSH session by clicking on session>SSH.</li>
        <li>Enter 10.0.0.2 for Remote Host</li>
        <li>Click on specify user name and enter your username</li>
        <li>Set port to 22 and click OK.</li>
        <li>A new terminal is opened. Enter your Password</li>
        <li>
          You are now connected to Zelin Cluster:
          <br />
          <img
            src="assets\z2c-documentation\zlinCluster_connection.png"
            alt="screenshot"
            style="width: 50%;"
          />
        </li>
      </ol>
    </div>
    <div class="documentation-section">
      <mat-panel-title id="Filezilla">
        <mat-icon class="titleIcon">read_more</mat-icon>
        <h2>How to transfer input files to cluster by using filezilla ?</h2>
      </mat-panel-title>

      <!-- content -->
      <h3>First, make sure you have the following pre-requisites:</h3>
      <ul>
        <li>A good internet connection to zelin VPN</li>
        <li>
          A FTP client server software like Filezilla from this
          <a href="https://filezilla-project.org/download.php?type=client"
            >link
          </a>
        </li>
        <li>
          Login and Password (sent by email by clicking on the Z2C dashboard)
        </li>
      </ul>

      <h3>
        Steps for connecting to zelin cluster with Mobaxterm are as follows:
      </h3>
      <ol>
        <li>Open Filezilla</li>
        <li>Go to file>Site Manager…</li>
        <li>Choose SFTP – SSH File Transfer Protocol for Protocol</li>
        <li>Enter 10.0.0.2 for Host</li>
        <li>Set port to 22 and click OK</li>
        <li>Enter your user and password and click to connect</li>
        <li>You are now connected to your home directory on Zelin Cluster</li>
        <li>
          To copy files, drag and drop files to your home directory
          <br />
          <img
            src="assets\z2c-documentation\z2c-Filezilla.jpg"
            alt="screenshot"
            style="width: 50%;"
          />
        </li>
      </ol>
    </div>

    <div class="documentation-section">
      <mat-panel-title id="STARCCM-job">
        <mat-icon class="titleIcon">read_more</mat-icon>
        <h2>How to launch a STARCCM + job?</h2>
      </mat-panel-title>

      <!-- content -->
      <p>
        The Sun Grid Engine (SGE) scheduler is used to submit jobs into the
        cluster. The qsub command is used to submit jobs and takes as input a
        launching file that defines the job.
      </p>
      <h3>Prepare launch file</h3>
      <p>
        An input file “submit.sh” is provided by default in your home directory.
        Feel free to view the contents of the file with a text editor to get an
        idea for what is included.
      </p>
      <ul>
        <li>$ vi submit.sh</li>
      </ul>
      <p>The submission command should be familiar to STAR-CCM+ users</p>

      <img
        src="assets\z2c-documentation\z2c-STARCCM.jpg"
        alt="screenshot"
        style="width: 70%;"
      />
      <br />
      <br />
      <p>
        The first part in blue corresponds to the options that we want to add to
        the qsub command at the exception of the first line which is specific to
        bash scripts:
      </p>
      <ul>
        <li>
          -N: corresponds to the name of the files which give information on the
          submitted job, in practice the file showing the output of the command
          is in AERO.oXXX with XXX the job number
        </li>
        <li>
          -pe: specifies the parallelization platform (full) and the number of
          requested procs (128)
        </li>
        <li>-q: specifies the queue used, all.q</li>
        <li>
          -S: specifies the path of the bash shell (bash command interpreter):
          do not modify
        </li>
        <li>
          -cwd: execution of the job from the folder where it is at the time of
          the launch of the calculation, that is say that the results.XY files
          will form in this folder
        </li>
        <li>-V: provides additional details when running the script</li>
      </ul>
      <p>
        The second paragraph should not be changed, it corresponds to the
        configuration of MPI modules.
      </p>
      <p>The third paragraph is optional:</p>
      <ul>
        <li>
          The two lines containing echo are just used as verification: the
          script displays the number of procs requested and the path to the
          hostfile
        </li>
      </ul>
      <p>
        The 4th paragraph defines a set of variables to simplify the writing of
        the main command:
      </p>
      <ul>
        <li>
          SIMFILE: this variable must be equal to the path of the desired
          simulation file
        </li>
        <li>
          VROOT: this variable gives the root of the folder in which the
          different versions of StarCCM + are installed
        </li>
        <li>VERSION: this variable allows you to specify the version to use</li>
        <li>The last part corresponds to the command itself</li>
      </ul>
      <p>You must enter your POD license key into this submission script</p>

      <h3>Submit jobs</h3>
      <p>To submit the job to the queue, run the command below:</p>
      <ul>
        <li>$ qsub submit.sh</li>
      </ul>

      <h3>Check jobs</h3>
      <p>
        Once you have submitted the job, you can check the status by using the
        commands described below e.g. qstat and as the job runs, output is
        captured in AERO.oXXX
      </p>
      <p>
        You can use the tail command to see a running output of the log file
        (ctrl-c to exit it) e.g
      </p>
      <ul>
        <li>$ tail -f AERO.oXXX</li>
      </ul>
      <p>
        The Sun Grid Engine (SGE) scheduler is managed by you. Useful SGE
        commands include qsub, qhost, qstat and qdel
      </p>
      <ul>
        <li>The qsub command submits jobs to the scheduler</li>
        <li>
          The qstat command gives information on the submitted jobs, including
          the state of the job. Initially the job will be in the “qw” state
          (queue, wait). This is followed by the “r” state (run). The job id
          number is provided. When the jobs are complete it is removed from the
          queue and qstat will show no jobs in the queue wait or running state.
        </li>
        <li>
          The qhost command lists the compute node status and id’s. Note that
          the ip address can be used to log onto the compute nodes.
        </li>
        <li>
          The qdel {{ elem }} command terminates the job with {{ elem }} id
        </li>
      </ul>
    </div>
  </div>
</div>
