<div class="controls">
  <div class="left-part">
    <mat-slider
      style="min-width: 200px; margin-left: 2%;"
      min="1200"
      max="3000"
      [(ngModel)]="tableWidth"
      color="primary"
    ></mat-slider>
  </div>
  <div class="right-part">
    <button (click)="openFileUploadDialog()" class="upload-button" mat-button>
      Upload file
    </button>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Filter</mat-label>
        <input (keyup)="applyFilter($event)" matInput placeholder="Filter" />
      </mat-form-field>
    </form>
  </div>
</div>

<div class="table-container">
  <mat-table
    [dataSource]="tableDataSource"
    class="mat-elevation-z8"
    [ngStyle]="{ width: tableWidth + 'px' }"
  >
    <ng-container
      *ngFor="let header of displayedColumns; let i = index"
      matColumnDef="{{ header }}"
    >
      <mat-header-cell *matHeaderCellDef> {{ header }} </mat-header-cell>

      <mat-cell
        *matCellDef="let element"
        [ngClass]="{
          low: comparator(element[i], 0, 24),
          'mid-low': comparator(element[i], 25, 49),
          mid: comparator(element[i], 50, 74),
          'mid-high': comparator(element[i], 75, 99),
          high: comparator(element[i], 100, 100)
        }"
      >
        {{ element[i] }}
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
