.mat-tab-body-content{
  overflow: hidden!important;
}
.table-container {
  // overflow: auto;
  height: calc(100vh - 265px);
}

.mat-table {
  min-width: 1400px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.controls {
  display: flex;
  padding-top: 5px;
  padding-right: 15px;
}

.right-part {
  width: 50%;
  text-align: right;
  display: -webkit-box;
}

.left-part {
  width: 50%;
}

.upload-button {
  background-color: #c00700;
  color: white;
  padding-right: 20px;
  margin-right: 20px;
  border-radius: 100px;
}

.low {
  color: white;
  font-weight: bold;
  background-color: #eb3030;
  text-align: center;
  justify-content: center;
}

.mid-low {
  color: white;
  font-weight: bold;
  background-color: #eb6d30;
  text-align: center;
  justify-content: center;
}

.mid {
  color: white;
  font-weight: bold;
  background-color: #ebaa30;
  text-align: center;
  justify-content: center;
}

.mid-high {
  color: white;
  font-weight: bold;
  background-color: #97aa30;
  text-align: center;
  justify-content: center;
}

.high {
  background-color: #30aa30;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.blank-color {
  background-color: unset;
}

.mat-cell, .mat-header-cell {
  flex: 1;
  min-height: 48px;
  display: flex;
  align-items: center;
}
