<mat-grid-list cols="3" rowHeight="4rem">
  <mat-grid-tile [colspan]="1" [rowspan]="9"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="5"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <img id="logo" src="/assets/logos/logo.png" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="5" class="content">
    <mat-card>
      <mat-card-title color="primary">Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
          <p>
            <mat-form-field class="input-field">
              <input
                type="text"
                matInput
                placeholder="Mail Address"
                formControlName="username"
                id="username"
                required
              />
              <mat-icon
                matSuffix
                matTooltip="Use the email address you've used to register"
                >info</mat-icon
              >
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="input-field">
              <input
                [type]="passwordIsHidden ? 'password' : 'text'"
                matInput
                placeholder="Password"
                id="password"
                formControlName="password"
                required
              />
              <mat-icon
                matSuffix
                matTooltip="Toggle password visibility"
                (click)="passwordIsHidden = !passwordIsHidden"
              >
                {{ passwordIsHidden ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            </mat-form-field>
          </p>
          <div id="buttons">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              id="login-button"
            >
              Login
            </button>
            <button
              (click)="router.navigate(['register'])"
              mat-raised-button
              color="primary"
            >
              Create an account
            </button>
          </div>
        </form>
        <div class="forgotPwd">
          <a routerLink="/resetPassword">Forgot password</a>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
