.input-field {
  width: 100%;
}

mat-card {
  width: 50%;
  min-width: 280px;
  margin: 1.5em auto;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#logo {
  margin: auto;
  height: 100px;
}

mat-grid-tile.content {
  height: calc(21em + 1px);
}

.forgotPwd {
  margin-top: 15px;
}

input {
  height: 1.1rem;
  padding: 5px;
}
