:host {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;

  .main-card {
    margin: 10px;
    padding: 2%;

    .arrowBack {
      cursor: pointer;
    }
  }

  #callToAction {
    left: 95%;
  }

  .actionButton {
    margin: 12px;
  }

  .projectImgDiv {
    border-radius: 50%;
    position: relative;
    width: 160px;
    height: 160px;
    margin: 3%;
    cursor: pointer;

    img {
      border-radius: 50%;
      position: absolute;
      top: 1%;
      left: 1%;
      height: 98%;
      width: 98%;
      object-fit: cover;
      margin-bottom: 15px;
    }
  }

  #editPictureButton {
    margin-bottom: 15px;
  }
}


.mat-dialog-content {
  margin-bottom: -20px;
}

small{
  color:#c60800;
  font-style: italic;
  line-height: 1;
  // margin-left: 100px;
  font-weight: 500;
}

p.order, span {
  font-weight: 600;
  text-align: center;
}

ol, p {
  color: rgba(100,100,100,1);
  font-size: 0.8rem;
}


h1 {
  text-align: center;
  border-bottom: 1px solid rgba(150,150,150,0.5);
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight:600;
}

.mat-dialog-actions {
  float: right;
}

.send{
  color:#c60800;
  background-color: transparent;
}

.send:hover{
background-color: #c60800;
color:white;
}
