<mat-card class="main-card">
  <mat-icon
    class="arrowBack"
    color="primary"
    matTooltip="Back to admin panel"
    (click)="navigateToProjectManagement()"
    >arrow_back</mat-icon
  >
  <h2 class="mat-h2" *ngIf="project">
    Roles for <b>{{ project.name }}</b>
  </h2>
  <img
    class="projectImgDiv"
    src="{{ generateImgUrl(project) }}"
    src-fallback="{{ fallbackImage }}"
  />
  <button
    id="editPictureButton"
    mat-mini-fab
    color="primary"
    (click)="opClEditPhoto()"
  >
    <mat-icon matTooltip="Upload a new image for this project">edit</mat-icon>
  </button>
  <app-project-picture
    *ngIf="photoEditMode"
    projectId="{{ this.projectId }}"
    (openEvent)="opClEditPhoto()"
  >
  </app-project-picture>

  <mat-table [dataSource]="roles" class="mat-elevation-z8">
    <!-- E-Mail Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.user.email }} </mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.role }} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          matTooltip="Edit user permission"
          class="actionButton"
          mat-mini-fab
          color="primary"
          (click)="openDialog(element.user.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          matTooltip="Delete this permission"
          class="actionButton"
          mat-mini-fab
          color="primary"
          (click)="deletePermission(element.user.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</mat-card>
<button
  matTooltip="Add a permission"
  id="callToAction"
  mat-fab
  color="primary"
  (click)="openDialog('')"
>
  <mat-icon>add</mat-icon>
</button>
