<div class="overlay-wrapp">
  <mat-card class="example-card" style="border-radius: 15px;">
    <mat-card-header>
      <mat-card-title>Plan your next meeting</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <nz-date-picker
        [nzShowTime]="{ nzFormat: 'HH:mm', nzMinuteStep: '5' }"
        nzFormat="dd-MM-yyyy HH:mm"
        [nzDisabledTime]="disabledTime"
        nzDropdownClassName="dropdown"
        (nzOnOk)="onOk($event)"
      ></nz-date-picker>
    </mat-card-content>
    <div class="arrow-left"></div>
    <mat-card-actions>
      <button (click)="close(null)" mat-button>Close</button>
      <button (click)="close('date')" mat-button>Validate</button>
    </mat-card-actions>
  </mat-card>
</div>
