<section
  fxLayout="column wrap"
  fxLayoutGap="60px"
  fxLayoutAlign="center center"
>
  <div fxFlex>
    404 Non existent page
  </div>
  <!--  <div fxFlex>-->
  <!--    <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
  <!--  </div>-->
  <!--  <div fxFlex>-->
  <!--    ... But we can not find it.-->
  <!--  </div>-->
</section>
