<div class="menuContainer">
  <mat-card class="menu">
    <app-z2c-menu
      *ngIf="this.userInfos"
      [userId]="this.userId"
      [userInfos]="this.userInfos"
      [currentDatetime]="this.currentSubDatetime"
    ></app-z2c-menu>
  </mat-card>
</div>
<div class="contentContainer">
  <mat-card class="content">
    <mat-tab-group (selectedTabChange)="tabClick($event)">
      <mat-tab label="Jobs">
        <app-jobs
          *ngIf="this.userInfos"
          [userId]="this.userId"
          [firstName]="this.userInfos.firstName"
          [lastName]="this.userInfos.lastName"
          [currentDatetime]="this.currentSubDatetime"
          (dateTimeEmitter)="this.onCurrSubDatetimeUpdate()"
        >
        </app-jobs>
      </mat-tab>

      <mat-tab label="Charges / usage">
        <app-usages
          #usagesTab
          *ngIf="this.userInfos"
          [userId]="this.userId"
          [userInfos]="this.userInfos"
          (z2cMenuEmitter)="this.onCurrSubDatetimeUpdate()"
        ></app-usages>
      </mat-tab>

      <mat-tab label="Live monitoring">
        <app-monitoring
          *ngIf="this.userInfos"
          [parentSubject]="monitorTab"
          [userId]="this.userId"
          [firstName]="this.userInfos.firstName"
          [lastName]="this.userInfos.lastName"
        >
        </app-monitoring>
      </mat-tab>

      <mat-tab label="Documentation">
        <app-documentation *ngIf="this.userInfos"> </app-documentation>
      </mat-tab>
    </mat-tab-group>
    <button
      mat-mini-fab
      color="primary"
      class="scrollButton"
      #scrollButton
      (click)="downScroll()"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </mat-card>
</div>
