:host {
  flex-grow: 1;
  min-height: 0;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: #e1e1e1;

  .menuContainer,
  .contentContainer {
    padding: 20px 20px 20px 20px;
    min-width: 0;
    box-sizing: border-box;

    mat-card {
      display: flex;
      flex-direction: column;
      border-radius: 13px;
      padding-top: 30px;
      min-height: calc(100% - 60px);
      height: -webkit-fill-available;
    }
  }

  .menuContainer {
    flex-grow: 1;
    min-width: 232px;

    .menu {
      padding: auto 25px;
    }
  }

  .contentContainer {
    flex-grow: 10;
    max-width: 75%;

    .content {
      padding-left: 50px;
      padding-right: 50px;

      mat-tab-group {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: auto;

        ::ng-deep mat-tab-header {
          width: fit-content;
          align-self: center;
        }

        ::ng-deep .mat-tab-body-content {
          overflow: hidden;
        }

        ::ng-deep .mat-tab-body-wrapper {
          flex-grow: 1;
        }
      }

      button {
        position: fixed;
        bottom: 80px;
        right: 3%;
        z-index: 1;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        padding: 0;

        mat-icon {
          color: white;
        }
      }

      .mat-mini-fab {
        display: none;

        ::ng-deep .mat-button-wrapper {
          padding: 0;
        }
      }
    }
  }

  // Custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);
    border-radius: 15px;
    display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160);
    display: none;
  }
}
