<mat-toolbar
  class="main-tool-bar mat-elevation-z3"
  color="primary"
  *ngIf="auth.isLoggedIn | async"
>
  <a mat-button (click)="zcommunity(router, snackbar)">
    <img src="assets/logos/headerLogo.png" />
  </a>

  <div class="selectPageContainer">
    <div class="selectPage" id="selectPage">
      <mat-select
        required
        #pageList
        id="pageList"
        (selectionChange)="onChangeSelectPage(pageList.value)"
        [value]="this.selected.text"
        disableOptionCentering
        panelClass="myPanelClass"
      >
        <mat-select-trigger>
          <mat-icon>
            {{ this.selected.iconLabel }}
          </mat-icon>
          {{ this.selected.text }}
        </mat-select-trigger>

        <mat-option *ngFor="let option of tmp" [value]="option.text">
          <mat-icon>{{ option.iconLabel }}</mat-icon>
          {{ option.text }}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="showCloud">
    <a *ngIf="isEngineering" mat-button (click)="zDrive()">
      <mat-icon>cloud_queue</mat-icon>
      Z - Drive
    </a>
  </div>

  <div class="links">
    <a *ngIf="isAdmin" mat-button (click)="adminPanel()">
      <mat-icon>admin_panel_settings</mat-icon>
    </a>
    <a mat-button (click)="zcommunity(router, snackbar)">
      <mat-icon>home</mat-icon>
    </a>
    <div class="notifContainer">
      <div>
        <a mat-button (click)="notification()">
          <mat-icon>notification_important</mat-icon>
        </a>
      </div>
      <div
        *ngIf="this.nbrNotif != 0"
        class="notifBubbleContainer"
        (click)="notification()"
      >
        <div class="notifBubble">
          <div class="notifBubbleText">
            {{ this.nbrNotif }}
          </div>
        </div>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <h3
      class="profile-name"
      *ngIf="this.name"
      (click)="profile(router, snackbar)"
    >
      {{ this.name }}
    </h3>
    <button
      mat-mini-fab
      *ngIf="this.photoUrl"
      color="accent"
      (click)="profile(router, snackbar)"
      [style.backgroundImage]="'url(' + this.photoUrl + ')'"
    ></button>
    <a mat-button id="logout-icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </a>
  </div>
</mat-toolbar>
