:host {
  .main-tool-bar {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 58px;

    img {
      height: 41px;
    }

    .selectPageContainer {
      flex-grow: 1;
      flex: 2;
      flex-direction: column;

      .selectPage {
        width: 165px !important;
        align-self: center;
        padding: 0 0 0 10px;
        margin-left: 40px;
        left: 0;
        border-radius: 20px;
        background-color: white;

        mat-select {
          width: 150px !important;
          border-top: 0;
          width: 100px;
          font-size: 16px;
          color: grey;

          mat-option {
            div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
          }
        }
      }
    }

    .showCloud {
      flex: 9;
      justify-self: flex-start;
    }

    .links {
      .notifContainer {
        display: inline-block;
        position: relative;

        .notifBubbleContainer {
          position: absolute;
          height: 41px;
          width: 41px;
          left: 5px;
          bottom: 0;
          cursor: pointer;

          .notifBubble {
            width: 14px;
            height: 14px;
            background-color: #0080ff;
            border-radius: 7px;
            position: absolute;
            top: 5px;
            left: 28px;

            .notifBubbleText {
              position: absolute;
              height: 100%;
              width: 100%;
              color: white;
              font-size: 10px;
              text-align: center;
              line-height: 13px;
            }
          }
        }
      }

      // Divider
      mat-divider {
        margin-right: 1em;
        box-sizing: border-box;
        vertical-align: middle;
        border-color: gainsboro;
        height: 1.7em;
        display: inline-block;
      }

      // Profile part
      .profile-name {
        display: inline;
        font-size: 70%;
        vertical-align: middle;
        margin-right: 1em;
        cursor: pointer;
      }

      button {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      // Logout part
      #logout-icon {
        margin-top: 0.3em;
        vertical-align: middle;
        min-width: 0;
      }

      #logout-icon mat-icon {
        font-size: 1.5em;
      }
    }
  }

  mat-icon {
    vertical-align: middle;
    padding-bottom: 0.2em;
  }

  .profile-name {
    color: white;
  }
}
::ng-deep .mat-select-panel {
  min-height: 290px;
}
