<div class="table-container">
  <mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8">
    <!----------------
    Checkboxes column
    ----------------->
    <ng-container matColumnDef="selection">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          color="primary"
          class="margin_to_right"
          (change)="$event ? masterToggle() : null"
          [checked]="tableSelection.hasValue() && isAllSelected()"
          [indeterminate]="tableSelection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </mat-header-cell>

      <mat-cell
        *matCellDef="let element"
        (click)="checkboxClick($event, element)"
      >
        <mat-checkbox
          color="primary"
          class="margin_to_right"
          (click)="$event.stopPropagation()"
          (change)="$event ? toggle(element) : null"
          [checked]="tableSelection.isSelected(element)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!----------------
    File package column
    ----------------->
    <ng-container matColumnDef="package">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Package
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.package }} </mat-cell>
    </ng-container>

    <!----------------
    File displayed id column
    ----------------->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!----------------
    Comments nbr column
    ----------------->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nbr of Comments
      </mat-header-cell>
      <mat-cell style="justify-content: center;" *matCellDef="let element"
        >{{ element.commentNbr }}
      </mat-cell>
    </ng-container>

    <!----------------
    File name column
    ----------------->
    <ng-container matColumnDef="fileName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        File Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.filename }} </mat-cell>
    </ng-container>

    <!----------------
    Delete button column
    ----------------->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        <div class="controls">
          <div class="right-part">
            <button
              (click)="openFileUploadDialog()"
              class="upload-button"
              mat-button
            >
              Upload files
            </button>

            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Filter</mat-label>
                <input
                  (keyup)="applyFilter($event)"
                  matInput
                  placeholder="Filter"
                />
              </mat-form-field>
            </form>
            <!--    <button mat-button> View selected items-->
            <!--      <mat-icon>chevron_right</mat-icon>-->
            <!--    </button>-->
          </div>
        </div>

        <button
          *ngIf="
            (userInfo.role === 'ADMIN' || userInfo.role === 'MANAGER') &&
            tableSelection.selected.length > 0
          "
          matTooltip="Delete selected elements"
          aria-label="Button that allows to delete selected elements"
          mat-icon-button
          color="primary"
          (click)="deleteMultiple()"
        >
          <mat-icon
            matBadge="{{ tableSelection.selected.length }}"
            [matBadgeHidden]="tableSelection.selected.length === 0"
            matBadgePosition="above after"
            >delete_forever</mat-icon
          >
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-table-element-right">
        <button
          *ngIf="userInfo.role === 'ADMIN' || userInfo.role === 'MANAGER'"
          color="primary"
          mat-icon-button
          (click)="deleteElement(element)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row
      class="oh-hover"
      *matRowDef="let row; columns: displayedColumns; let i = index"
      (click)="openElementInsight(tableData, i)"
    ></mat-row>
  </mat-table>
</div>
