.align-table-element-right {
  display: flex;
  justify-content: flex-end;
}

.mat-column-package {
  flex: 0 0 8%;
  width: 8%;
}

.mat-column-selection {
  flex: 0 0 8%;
  width: 8%;
}

.mat-column-id {
  flex: 0 0 5%;
  width: 5%;
}

.mat-column-comments {
  flex: 0 0 7%;
  width: 7%;
}

.table-container {
  overflow: auto;
  height: calc(100vh - 314px);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.controls {
  display: flex;
  padding-top: 5px;
  padding-right: 15px;
  width: 90%;
}

.right-part {
  width: 50%;
  text-align: right;
  display: -webkit-box;
}

.left-part {
  width: 50%;
}

.upload-button {
  background-color: #c00700;
  color: white;
  padding-right: 20px;
  margin-right: 20px;
  border-radius: 100px;
}

.oh-hover:hover {
  background-color: #ff8786;
  cursor: pointer;
}
