:host {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: row;

  mat-card {
    border-radius: 8px;
    margin: 1%;
    display: flex;
  }

  #cursorPointer {
    cursor: pointer;
  }

  .menu {
    flex-grow: 2;
    min-width: 280px;
    max-width: 280px;
    overflow-y: auto;
    display: flex;
    flex-direction: column !important;
  }

  .submitButtons {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .content {
    flex-grow: 1;
    flex-wrap: wrap;
    overflow-y: auto;
    display: flex;

    #loadingContainer {
      width: 100%;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .notFound {
        color: lightgrey;
        font-size: 34px;
        margin-top: 20px;
      }
    }

    mat-card {
      width: 23%;
      height: 450px;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .cropImgContainer {
        width: 100%;
        max-height: 41%;
        min-height: 41%;
        overflow: hidden;

        .availability {
          position: absolute;
          background-color: #c60800;
          color: white;
          font-size: 13px;
          padding: 7px 12px;
          margin: 14px 0 0 7px;
          border-radius: 17px;
        }

        mat-icon {
          position: absolute;
          color: #c60800;
          font-size: 25px;
          right: 10px;
          margin-top: 14px;
          border-radius: 17px;
        }

        .profileImg {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
        }

        img {
          width: 100%;
          overflow: auto;
        }
      }

      .cardContent {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        overflow-y: hidden;

        h3 {
          margin: 0;
          font-size: 18px;
          color: #c60800;
        }

        h4 {
          margin: -3px 0 7px 0;
          font-size: 13px;
          font-weight: normal;
        }

        .expertInfoDetails {
          font-size: 15px;
          margin: 1px 0;
          //margin-bottom: 5px;

          mat-icon {
            margin-top: -1px;
            width: auto;
            height: auto;
            font-size: 16px;
          }
        }
        .expertiseDetails {
          margin-top: 9px;
          display: flex;
          flex-direction: row;
          //justify-content: space-between;

          ul {
            margin: 4px 0 0 4px;
            padding: 0 0 0 4px;
            list-style-type: none;

            li {
              margin: 1px 0;
              font-size: 12px;
            }
          }

          .physics {
            min-width: 47%;
            flex-grow: 1;
          }

          .domains {
            min-width: 40%;
            flex-grow: 1;
            margin-right: -10px !important;
          }
        }

        ::-webkit-scrollbar {
          width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: rgb(225, 225, 225);
          border-radius: 15px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: rgb(160, 160, 160);
        }
      }
    }

    .notPremium {
      width: 23%;
      max-width: 23%;
      height: 450px;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex: 3;
      flex-direction: column;
      background-color: #c60800;

      .upperHalf {
        flex: 2;
        padding: 3%;
        display: flex;
        flex-direction: column;
        padding-top: 3em;
        padding-left: 1.8em;
        padding-right: 1.8em;

        .notPremiumText {
          font-size: 18px;
          color: white;
          text-align: center;
        }

        .navLink {
          color: white;
          text-decoration: none;
          text-align: center;
          margin-top: 1.8em;
          font-size: 22px;
          border-style: solid;
          border-radius: 23px;
          padding: 8px;
          border-width: 0.5px;
        }

        .navLink:hover {
          color: #d6d6d6;
        }

        .notPremiumText2 {
          font-size: 18px;
          color: white;
          text-align: center;
          margin-top: 2.2em;
        }
      }

      .divider {
        height: 0.5px;
        background-color: white;
        margin-left: 0.8em;
        margin-right: 0.8em;
      }

      .bottomHalf {
        flex: 1;
        text-align: center;
        vertical-align: middle;

        .premiumIcon {
          color: white;
          font-size: 100px !important;
          vertical-align: middle;
          margin-top: 0.6em;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160);
  }
}

//expert card more responsive
@media (max-width: 1400px) {
  .expertCard {
    width: 31.2% !important;
  }
}

@media (max-width: 1200px) {
  .expertCard {
    width: 48% !important;
  }
}

@media (max-width: 900px) {
  .expertCard {
    width: 100% !important;
  }
}

::ng-deep .softwaresOptions {
  max-height: 40px;
}

::ng-deep .languagesOptions {
  max-height: 50px;
  min-height: 50px;
}
