<mat-card class="menu">
  <form [formGroup]="filtersForm" (ngSubmit)="onSubmitFilters(filtersForm)">
    {{ translateService.getTranslation(this.translatePage, 'filtersTitle') }}:
    {{ this.experts ? this.experts.length : '' }}
    {{ translateService.getTranslation(this.translatePage, 'profilsFound')
    }}<br />
    <!-- FILTER BY NAME -->
    <div class="form-row">
      <mat-form-field>
        <mat-label>{{
          translateService.getTranslation(this.translatePage, 'nameFilter')
        }}</mat-label>
        <input matInput placeholder="Ex. John" formControlName="firstName" />
      </mat-form-field>
    </div>
    <!-- FILTER BY PHYSICS -->
    <mat-label style="font-weight: bold;"
      >{{
        translateService.getTranslation(translatePage, 'physics')
      }}:</mat-label
    >
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="fluids">{{
        translateService.getTranslation(
          expertises[0].translateEnum,
          'fluidMeca'
        )
      }}</mat-checkbox>
    </div>
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="thermic">{{
        translateService.getTranslation(expertises[1].translateEnum, 'thermic')
      }}</mat-checkbox>
    </div>
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="struct">{{
        translateService.getTranslation(
          expertises[2].translateEnum,
          'structure'
        )
      }}</mat-checkbox>
    </div>
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="electro">{{
        translateService.getTranslation(
          expertises[3].translateEnum,
          'electroMag'
        )
      }}</mat-checkbox>
    </div>
    <br />
    <!-- FILTER BY AREA -->
    <mat-label style="font-weight: bold;"
      >{{
        translateService.getTranslation(this.translatePage, 'domains')
      }}:</mat-label
    >
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="energy">{{
        translateService.getTranslation(4, 'ENERGY')
      }}</mat-checkbox>
    </div>
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="transport">{{
        translateService.getTranslation(4, 'TRANSPORT')
      }}</mat-checkbox>
    </div>
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="industries">{{
        translateService.getTranslation(4, 'INDUSTRIES')
      }}</mat-checkbox>
    </div>
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="aerospace">{{
        translateService.getTranslation(4, 'AEROSPACE')
      }}</mat-checkbox>
    </div>
    <br />
    <!-- FILTER BY WAGE -->
    <div class="form-row">
      <label>{{
        translateService.getTranslation(this.translatePage, 'maxPrice')
      }}</label
      ><br />
      <mat-slider
        formControlName="maximumPrice"
        max="{{ maxPrice }}"
        min="50"
        thumbLabel="true"
        color="primary"
        value="{{ this.filtersForm.controls.maximumPrice.value }}"
      ></mat-slider>
      {{ this.filtersForm.controls.maximumPrice.value }}
    </div>
    <!-- FILTER BY RATING -->
    <div class="form-row">
      <label>{{
        translateService.getTranslation(this.translatePage, 'rateMin')
      }}</label
      ><br />
      <mat-slider
        formControlName="minimumRating"
        max="100"
        min="0"
        thumbLabel="true"
        color="primary"
        value="{{ this.filtersForm.controls.minimumRating.value }}"
      ></mat-slider>
      {{ this.filtersForm.controls.minimumRating.value }}
    </div>
    <br />
    <!-- FILTER BY AVAILABILITY -->
    <div class="form-row">
      <mat-checkbox color="primary" formControlName="isAvailable">{{
        translateService.getTranslation(
          this.translatePage,
          'availabilityFilter'
        )
      }}</mat-checkbox>
    </div>
    <br />
    <!-- FILTER BY SOFTWARES -->
    <mat-form-field appearance="legacy">
      <mat-label>
        {{
          this.translateService.getTranslation(
            this.translatePage,
            'softwaresSelection'
          )
        }}
      </mat-label>
      <mat-select multiple formControlName="softwares">
        <mat-option
          class="softwaresOptions"
          *ngFor="let software of this.softwares"
          value="{{ software }}"
        >
          {{
            this.translateService.getTranslation(this.languagePage, software)
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- FILTER BY LANGUAGES -->
    <mat-form-field appearance="legacy">
      <mat-label>
        {{
          this.translateService.getTranslation(this.translatePage, 'languages')
        }}
      </mat-label>
      <mat-select multiple formControlName="languages">
        <mat-option
          class="languagesOptions"
          *ngFor="let language of this.languages"
          value="{{ language }}"
        >
          {{
            this.translateService.getTranslation(this.languagePage, language)
          }}
        </mat-option>
      </mat-select>
      <!-- <input matInput placeholder="{{ this.translateService.getTranslation(this.translatePage, 'firstName') }}" formControlName="firstName" value="{{ this.userInfos.firstName }}"> -->
    </mat-form-field>
    <!-- FILTER BY RATING -->
    <div class="submitButtons">
      <button mat-raised-button color="primary" type="submit">Apply</button>
      <button mat-button color="primary" type="submit" (click)="resetFilters()">
        {{
          translateService.getTranslation(this.translatePage, 'resetFilters')
        }}
      </button>
    </div>
  </form>
</mat-card>

<!--------------------------
  right component, list of experts
-------------------------->
<mat-card class="content">
  <div id="loadingContainer">
    <!-- <mat-spinner *ngIf="!isLoaded"></mat-spinner> -->
    <mat-progress-bar *ngIf="!isLoaded" mode="indeterminate"></mat-progress-bar>
    <mat-icon
      class="notFound"
      *ngIf="isLoaded && !experts.length && hasCommunityAccess"
      >search_off</mat-icon
    >
    <p
      class="notFound"
      *ngIf="isLoaded && !experts.length && hasCommunityAccess"
    >
      {{
        translateService.getTranslation(this.translatePage, 'noProfilesFound')
      }}
    </p>
  </div>
  <!-- <mat-card *ngFor="let expert of (obs$ |async)"> -->
  <mat-card
    id="cursorPointer"
    class="expertCard"
    *ngFor="let expert of experts"
    (click)="navigateToExpert(expert.userId)"
  >
    <div class="cropImgContainer">
      <!-- THIS DOUBLE DIV WITH NGIF CAN BE OPTIMIZED WITH NGCLASS -->
      <div
        *ngIf="expert.available"
        class="availability"
        style="background-color: green;"
      >
        {{
          expert.available == true
            ? translateService.getTranslation(
                this.translatePage,
                'expertAvailable'
              )
            : translateService.getTranslation(
                this.translatePage,
                'expertUnavailable'
              )
        }}
      </div>
      <div *ngIf="!expert.available" class="availability">
        {{
          expert.available == true
            ? translateService.getTranslation(
                this.translatePage,
                'expertAvailable'
              )
            : translateService.getTranslation(
                this.translatePage,
                'expertUnavailable'
              )
        }}
      </div>
      <mat-icon>
        {{ expert.isFavorite == true ? 'favorite' : 'favorite_border' }}
      </mat-icon>

      <div
        class="profileImg"
        [ngStyle]="{ 'background-image': 'url(' + expert.photoUrl + ')' }"
      ></div>
    </div>
    <div class="cardContent">
      <h3>
        {{
          expert.firstName?.charAt(0).toUpperCase() +
            expert.firstName?.slice(1) +
            ' ' +
            expert.lastName?.charAt(0).toUpperCase() +
            expert.lastName?.slice(1)
        }}
      </h3>
      <h4>{{ expert.title ? expert.title : '-' }}</h4>
      <div class="expertInfoDetails">
        <mat-icon class="profile-main-data-icon" matSuffix color="primary"
          >place</mat-icon
        >
        {{
          translateService.getTranslation(
            this.translatePage,
            'expertTechnicalAssistance'
          )
        }}
        :
      </div>
      <div class="expertInfoDetails">
        <mat-icon class="profile-main-data-icon" matSuffix color="primary"
          >attach_money</mat-icon
        >
        {{ translateService.getTranslation(this.translatePage, 'expertWage') }}
        : {{ this.expert ? this.expert.wage : '' }} €/{{
          translateService.getTranslation(this.translatePage, 'expertWageUnity')
        }}
      </div>
      <div class="expertInfoDetails">
        <mat-icon class="profile-main-data-icon" matSuffix color="primary"
          >star</mat-icon
        >
        {{
          translateService.getTranslation(this.translatePage, 'expertRanking')
        }}
        : {{ this.expert ? this.expert.rating : '' }}
      </div>
      <div class="expertiseDetails">
        <div class="physics">
          {{ translateService.getTranslation(translatePage, 'physics') }} :
          <div>
            <ul>
              <li *ngIf="expert.expertises.fluids == true">
                {{
                  translateService.getTranslation(
                    expertises[0].translateEnum,
                    expertises[0].name
                  )
                }}
              </li>
              <li *ngIf="expert.expertises.thermic == true">
                {{
                  translateService.getTranslation(
                    expertises[1].translateEnum,
                    expertises[1].name
                  )
                }}
              </li>
              <li *ngIf="expert.expertises.electroMag == true">
                {{
                  translateService.getTranslation(
                    expertises[3].translateEnum,
                    expertises[3].name
                  )
                }}
              </li>
              <li *ngIf="expert.expertises.struct == true">
                {{
                  translateService.getTranslation(
                    expertises[2].translateEnum,
                    expertises[2].name
                  )
                }}
              </li>
            </ul>
          </div>
        </div>
        <div class="domains">
          {{ translateService.getTranslation(this.translatePage, 'domains') }} :
          <ul *ngFor="let area of expert.areas">
            <li>{{ translateService.getTranslation(4, area) }}</li>
          </ul>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- This card is shown when user doesn't have access to Z - Community. -->
  <mat-card class="notPremium" *ngIf="!hasCommunityAccess && isLoaded">
    <div class="upperHalf">
      <p class="notPremiumText">
        {{
          translateService.getTranslation(
            this.translatePage,
            'noCommunityAccessOne'
          )
        }}
      </p>
      <a [href]="emailString" class="navLink">
        {{
          translateService.getTranslation(
            this.translatePage,
            'noCommunityAccessLink'
          )
        }}
      </a>
      <p class="notPremiumText2">
        {{
          translateService.getTranslation(
            this.translatePage,
            'noCommunityAccessTwo'
          )
        }}
      </p>
    </div>
    <div class="divider"></div>
    <div class="bottomHalf">
      <mat-icon [inline]="true" class="premiumIcon">clear</mat-icon>
    </div>
  </mat-card>

  <!-- This card is shown when user doesn't have access to Premium Community -->
  <mat-card
    class="notPremium"
    *ngIf="!isPremium && hasCommunityAccess && isLoaded"
  >
    <div class="upperHalf">
      <p class="notPremiumText">
        {{
          translateService.getTranslation(
            this.translatePage,
            'noPremiumAccessOne'
          )
        }}
      </p>
      <a [href]="emailString" class="navLink">
        {{
          translateService.getTranslation(
            this.translatePage,
            'noPremiumAccessLink'
          )
        }}
      </a>
      <p class="notPremiumText2">
        {{
          translateService.getTranslation(
            this.translatePage,
            'noPremiumAccessTwo'
          )
        }}
      </p>
    </div>
    <div class="divider"></div>
    <div class="bottomHalf">
      <mat-icon [inline]="true" class="premiumIcon">offline_bolt</mat-icon>
    </div>
  </mat-card>
</mat-card>
