<h1 mat-dialog-title>
  {{ injectedData.file.filename }}
</h1>

<mat-dialog-content>
  <mat-card-content style="padding: 20px;">
    <div>
      <div class="sub-component">
        <mat-form-field style="width: 100%;">
          <mat-label>Title</mat-label>
          <input
            matInput
            [formControl]="titleForm"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              titleForm.hasError('pattern') && !titleForm.hasError('required')
            "
          >
            {{ generateErrorMessage }}
          </mat-error>
          <mat-error *ngIf="titleForm.hasError('required')">
            {{ generateRequiredErrorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <div class="sub-component">
        <mat-slide-toggle color="primary" [(ngModel)]="logScale"
          >Log Scale</mat-slide-toggle
        >
        <mat-slide-toggle color="primary" [(ngModel)]="showLegends"
          >Show Legends</mat-slide-toggle
        >
      </div>
    </div>

    <div>
      <div class="sub-component">
        <mat-form-field>
          <mat-label>X Axis Title </mat-label>
          <input
            matInput
            [formControl]="xAxisTitleForm"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              xAxisTitleForm.hasError('pattern') &&
              !xAxisTitleForm.hasError('required')
            "
          >
            {{ generateErrorMessage }}
          </mat-error>
          <mat-error *ngIf="xAxisTitleForm.hasError('required')">
            {{ generateRequiredErrorMessage }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Y Axis Title </mat-label>
          <input
            matInput
            [formControl]="yAxisTitleForm"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              yAxisTitleForm.hasError('pattern') &&
              !yAxisTitleForm.hasError('required')
            "
          >
            {{ generateErrorMessage }}
          </mat-error>
          <mat-error *ngIf="yAxisTitleForm.hasError('required')">
            {{ generateRequiredErrorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <div class="sub-component" style="max-width: 20vw;">
        <mat-form-field
          style="width: 50%;"
          *ngFor="let curve of injectedData.plot; let i = index"
        >
          <mat-label>Curve {{ i }} title</mat-label>
          <input
            matInput
            [formControl]="curvesForms[i]"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              curvesForms[i].hasError('pattern') &&
              !curvesForms[i].hasError('required')
            "
          >
            {{ generateErrorMessage }}
          </mat-error>
          <mat-error *ngIf="curvesForms[i].hasError('required')">
            {{ generateRequiredErrorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onDismiss()">Close</button>
  <button
    [disabled]="submitDisabled"
    mat-raised-button
    color="primary"
    (click)="onConfirm()"
  >
    Validate
  </button>
</div>
