.sub-component {
  padding: 10px
}


.ant-picker {
  border: unset;
  border-bottom: 1px solid #ff2b35;
}

p.order{
  font-weight: 600;
  // text-align: center;
  margin-top:2%;
}



h1 {
  text-align: center;
  border-bottom: 1px solid rgba(150,150,150,0.5);
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight:600;
}

.mat-dialog-actions {
  float: right;
}

.send{
  color:#c60800;
  background-color: transparent;
}

.send:hover{
background-color: #c60800;
color:white;
}

.mat-select-panel {
  height: 130%!important;
}

 // Custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #c60800;;
  }

  nz-date-picker.ant-picker.ng-untouched.ng-pristine.ng-valid {
    margin-bottom: 5%;
}
