<h1 mat-dialog-title>
  Modify project properties
</h1>

<mat-dialog-content>
  <mat-card-content style="padding: 20px;">
    <div>
      <p class="order">Global progress: {{ progress }}%</p>
      <div class="sub-component">
        <mat-slider
          color="primary"
          [thumbLabel]="true"
          [tickInterval]="1"
          [(value)]="progress"
          style="width: 100%;"
        ></mat-slider>
      </div>
    </div>

    <div>
      <p class="order">Project management</p>
      <div class="sub-component">
        <mat-form-field>
          <mat-label>Start date</mat-label>
          <input
            matInput
            [matDatepicker]="startDate"
            [formControl]="startDateForm"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>End date</mat-label>
          <input
            matInput
            [matDatepicker]="endDate"
            [formControl]="endDateForm"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div>
      <p class="order">Next meeting</p>
      <div class="sub-component">
        <nz-date-picker
          [nzShowTime]="{ nzFormat: 'HH:mm', nzMinuteStep: '5' }"
          nzFormat="dd-MM-yyyy HH:mm"
          [nzDisabledTime]="disabledTime"
          nzDropdownClassName="dropdown"
          [(ngModel)]="nextMeetingDate"
        ></nz-date-picker>

        <!--        <mat-form-field>-->
        <!--          <mat-label>Next meeting</mat-label>-->
        <!--          <input matInput [matDatepicker]="nextMeeting">-->
        <!--          <mat-datepicker-toggle matSuffix [for]="nextMeeting"></mat-datepicker-toggle>-->
        <!--          <mat-datepicker #nextMeeting></mat-datepicker>-->
        <!--        </mat-form-field>-->
      </div>
    </div>

    <div>
      <p class="order">Teams url</p>
      <div class="sub-component">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Teams url</mat-label>
            <input matInput [value]="teamsUrl" [formControl]="teamsUrlForm" />
          </mat-form-field>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button class="cancel" mat-button (click)="onDismiss()">Cancel</button>
  <button class="send" mat-button (click)="onConfirm()">
    Validate
  </button>
</div>
