<div class="clusterConfig">
  <div class="titleContainer">
    <h3>My cluster configuration</h3>
    <div
      class="badge"
      matTooltip="The configuration of the part of the server dedicated&#13;to your calculations :&#13; - CPU : number of cores used to achieve your calculations.&#13; - Storage : max storage capacity you can use for your calculations.&#13; - Price : The price you will pay for 1 Hour/CPU.&#13;1 core hour represents 1 CPU used for 1 Hour."
      matTooltipPosition="after"
      matTooltipClass="line-broken-tooltip"
    >
      ?
    </div>
  </div>
  <div class="contentContainer">
    <mat-icon>settings_application</mat-icon>
    {{ this.nbrCPU.toString() }} CPU
  </div>
  <div class="contentContainer">
    <mat-icon>storage</mat-icon>
    {{ this.storageGo.toString() }} Go
  </div>
  <div class="contentContainer">
    <mat-icon>local_offer</mat-icon>
    Core Hour = {{ this.userInfos.creditsTimeRatio.toFixed(2) }} €
  </div>
  <div class="contentContainer vpnAccess">
    <mat-icon>dvr</mat-icon>
    <button mat-flat-button color="primary" (click)="this.sendVPNAccess()">
      Get VPN access
    </button>
    <div
      class="badge"
      matTooltip="Get your VPN access by receiving an email."
      matTooltipPosition="after"
    >
      ?
    </div>
  </div>
</div>
<div class="credits">
  <div class="titleContainer">
    <h3>Credits Remaining</h3>
  </div>
  <div class="contentContainer">
    {{ ((userInfos.credits * 100) / 100).toFixed(2) }}
    <mat-icon color="primary">euro</mat-icon>
  </div>
</div>
<div class="runningJobs">
  <div class="titleContainer">
    <h3>Running jobs</h3>
  </div>
  <div class="contentContainer">
    <table mat-table [dataSource]="this.dataSource" matSort>
      <ng-container matColumnDef="functionalId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.functionalId }}</td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
        <td mat-cell *matCellDef="let element">{{ element.cost }}€</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
