:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;

  .badge {
    display: inline-block;
    background-color: #c60800;
    height: 1.3em;
    width: 1.3em;
    font-weight: bold !important;
    margin-left: 12px;
    border-radius: 10px;
    text-align: center;
    color: white;
  }

  .clusterConfig,
  .credits,
  .runningJobs {
    min-height: 120px;

    .titleContainer {
      margin-left: 0;

      h3 {
        display: inline-block;
        font-weight: bold;
        font-size: 19px;
        color: #777777;
      }
    }

    .contentContainer {
      margin-left: 20px;
    }
  }

  .clusterConfig {
    margin-bottom: 50px;

    .contentContainer {
      .mat-icon {
        color: grey;
        font-size: 15px;
        display: inline-flex;
        align-items: center;
        margin-top: -3px;
      }
    }

    .vpnAccess {
      margin-top: 5px;

      button {
        height: 25px;
        font-size: 11px;
        border-radius: 20px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
      }

      .badge {
        vertical-align: middle;
      }
    }
  }

  .credits {
    h3 {
      margin-bottom: 15px;
    }

    .contentContainer {
      font-size: 25px;
      color: #c60800;
      font-weight: 500;

      .mat-icon {
        height: 33px;
        width: 25px;
        font-size: 29px;
      }
    }
  }

  .runningJobs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .contentContainer {
      // height: initial;
      overflow-y: auto;
      border: solid 1px black;
      margin-left: 20px;
      margin-right: 20px;

      table {
        width: 100%;

        tr.mat-header-row {
          height: 40px;
        }

        tr.mat-row {
          height: 35px;
        }

        th,
        td {
          text-align: center;
          padding: 0;
        }

        th {
          ::ng-deep .mat-sort-header-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 20px;

            button {
              display: inline-block;
            }

            ::ng-deep .mat-sort-header-arrow {
              display: inline-flex;
            }
          }
        }
      }
    }
  }
}

//Enable \n on matTooltips (text on badges)
::ng-deep .line-broken-tooltip {
  white-space: pre-line;
}
