// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'styles';
// Plus imports for other components in your app.

$md-primary: (
  50: #f8e1e0,
  100: #eeb5b3,
  200: #e38480,
  300: #d7524d,
  400: #cf2d26,
  500: #c60800,
  600: #c00700,
  700: #b90600,
  800: #b10400,
  900: #a40200,
  A100: #ffcece,
  A200: #ff9b9b,
  A400: #ff6868,
  A700: #ff4f4f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent: (
  50: #fefefe,
  100: #fefefe,
  200: #fdfdfd,
  300: #fcfcfc,
  400: #fbfbfb,
  500: #fafafa,
  600: #f9f9f9,
  700: #f9f9f9,
  800: #f8f8f8,
  900: #f6f6f6,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #cccccc,
    100: #cccccc,
    200: #cccccc,
    300: #cccccc,
    400: #cccccc,
    500: #cccccc,
    600: #cccccc,
    700: #cccccc,
    800: #cccccc,
    900: #cccccc,
    A100: #cccccc,
    A200: #cccccc,
    A400: #cccccc,
    A700: #cccccc,
  ),
);

$md-warn: (
  50: #fef5e0,
  100: #fde7b3,
  200: #fbd780,
  300: #f9c74d,
  400: #f8bb26,
  //500: #f7af00,
    500: red,
  600: #f6a800,
  700: #f59f00,
  800: #f39600,
  900: #f18600,
  A100: #ffffff,
  A200: #fff2e5,
  A400: #ffd8b2,
  A700: #ffcc98,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vision-material-primary: mat-palette($md-primary);
$vision-material-accent: mat-palette($md-accent);

// The warn palette is optional (defaults to red).
$vision-material-warn: mat-palette($md-warn);

// Create the theme object (a Sass map containing all of the palettes).
$vision-material-theme: mat-light-theme(
  $vision-material-primary,
  $vision-material-accent,
  $vision-material-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include theme-color-grabber($vision-material-theme);
@include angular-material-theme($vision-material-theme);
