/* You can add global styles to this file, and also import other style files */
// @import "./custom-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-icon {
  vertical-align: middle;
}

// The following allows us to user material angular colors on not angular elements like div
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
    color: mat-color($accent);
  }

  .accentColorBG {
    background-color: mat-color($accent);
  }

  .warnColorBG {
    background-color: mat-color($warn);
  }
}

.mat-grid-tile .mat-figure.mat-figure {
  justify-content: flex-start;
  align-items: flex-start;
}

.grey-tile-bg-color {
  background-color: rgb(235, 235, 235);
}

//Exceptional, just for dropwdown menu on pages select field
.myPanelClass {
  margin-top: 19px;
  margin-left: 3px;
}

.monitoringPanel {
  mat-option {
    .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    .mat-accent .mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox-indeterminate,
    .mat-pseudo-checkbox-checked,
    .mat-pseudo-checkbox-indeterminate {
      background-color: #c60800 !important;
    }
  }
}
