@red : #d62929;


  // scrollbar customization
  [_nghost-jhs-c96]::-webkit-scrollbar{
    width: 10px;
    background-color: #f5f5f5;
    // background-color: yellow;//test
    border-radius: 10px;
  }

  [_nghost-jhs-c96]::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: @red;
}

:host {
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
  background-image: url("/assets/dashboard_background.PNG");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;



  .pentagon {
    margin-top: 3%;
    position: relative;
    width: 500px;
    height: 500px;

    .bgAsset {
      position: absolute;
      height: 100%;
      overflow: hidden;
    }

    .elemAsset {
      height: 140px;
      width: 140px;
      position: absolute;
      cursor: pointer;
    }

    .elemAsset:nth-child(2) {
      top: -65px;
      left: 180px;
    }

    .elemAsset:nth-child(3) {
      top: 110px;
      left: -50px;
    }

    .elemAsset:nth-child(4) {
      top: 110px;
      left: 410px;
    }

    .elemAsset:nth-child(5) {
      bottom: -30px;
      left: 45px;
    }

    .elemAsset:nth-child(6) {
      bottom: -30px;
      left: 315px;
    }
  }


}

