<div class="overlay-wrapp">
  <mat-card class="example-card" style="border-radius: 15px;">
    <mat-card-header>
      <mat-card-title>Managers contact list</mat-card-title>
    </mat-card-header>
    <mat-card-content
      [ngStyle]="{ 'flex-direction': 'row-reverse !important' }"
    >
      <mat-list>
        <!-- loop on managers' data + create link to their profiles -->

        <mat-list-item
          *ngFor="let manager of managers"
          (click)="AccessProfile(manager.id)"
          id="cursorPointer"
        >
          <!-- profile image -->
          <mat-icon
            mat-list-icon
            class="profileImg"
            [ngStyle]="{
              'background-image': 'url(' + generateImgUrl(manager.image) + ')'
            }"
          ></mat-icon>

          <!-- profile data -->
          <div mat-line>
            {{ manager.firstName + ' ' + manager.lastName }}
            <mat-icon
              class="mat-18"
              *ngIf="manager.expertId"
              matTooltip="This user is an Expert"
              color="primary"
              style="size: 3px; margin-right: 3px;"
            >
              architecture</mat-icon
            >
          </div>
          <div mat-line>{{ manager.email }}</div>
          <div mat-line style="font-style: italic;">
            {{ manager.phone }}
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <!-- speech bubble effect -->
    <div
      [ngStyle]="{ 'margin-top': arrowOffset + 'px' }"
      class="arrow-left"
    ></div>

    <!-- button close popup -->
    <mat-card-actions>
      <button (click)="close('success')" mat-button>Close</button>
    </mat-card-actions>
  </mat-card>
</div>
