.overlay-wrapp {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: relative;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
  margin-left: -36px;
  position: absolute;
}

#cursorPointer {
  cursor: pointer;
}

.profileImg {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 60px;
  width: 90px;
  margin: 0px;
}

// to reorganize the row with profile picture at the left
:host .mat-list-item-content {
  flex-direction: row-reverse !important;
  border: 1px solid green;
}
:host mat-list-item-content {
  flex-direction: row-reverse !important;
  border: 1px solid blue;
}

:host .mat-ripple.mat-list-item-ripple {
  flex-flow: row wrap;
  border: 1px solid rebeccapurple;
}

:host .mat-list-text {
  order: 2 !important;
  border: 1px solid rgb(228, 116, 12);
}
// mat-list-item#cursorPointer{
//   flex-direction: row-reverse !important;
//   border: 1px solid rgb(255, 0, 170);
// }
