<mat-card radius="24" class="mat-elevation-z3">
  <mat-list class="titles">
    <mat-list-item>
      <mat-icon mat-icon>computer</mat-icon>
      <h3>
        My Z-Drive
      </h3>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <div id="project-list-div">
    <mat-list id="project-list">
      <mat-list-item
        *ngFor="let project of projects; last as last"
        (click)="onRowClick(project)"
      >
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-subheader>{{ project.name }}</h4>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>
