:host {
  padding: 10px;
  flex-grow: 1;
  max-height: calc(100% - 30px);
  min-height: 0;

  mat-card {
    border-radius: 8px;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    mat-icon {
      font-size: 110%;
      color: rgb(150, 150, 150);
      padding: 6px 0 0 0;
    }

    .titles {
      h3 {
        font-weight: normal;
        color: rgb(150, 150, 150);
        cursor: pointer;

        &.current {
          font-weight: bold;
        }
      }

      mat-icon {
        font-size: 130%;
        margin-right: 10px;
      }

      mat-list-item {
        margin: 3px auto 3px auto;
      }
    }

    mat-divider {
      box-sizing: border-box;
      position: relative;
      margin-top: 10px;
    }

    #project-list-div {
      width: 100%;
      min-height: 0;
      overflow-y: auto;

      mat-list-item {
        overflow: hidden;
        text-overflow: '...';
        white-space: nowrap;
      }

      mat-divider {
        box-sizing: border-box;
        position: absolute;
        width: 95%;
      }

      h4 {
        cursor: pointer;
      }
    }
  }

  // Custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
  }
}

mat-list-item {
  cursor: pointer;
}
