.data-holder {
  width: 60%;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.comments {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 20vw;
  background-color: white;
}

.comment-count {
  height: 80vh;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 0;
  left: 0;
}

.send-button {
  background-color: #c60800;
  color: white;
  width:100%
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#000, #9198e500);
}

.previous {
  position: absolute;
  color: white;
  top: 50%;
}
.previous:hover {
  cursor: pointer;
}

.next {
  color: white;
  right: 24%;
  top: 50%;
  position: absolute;
}

.next:hover {
  cursor: pointer;
}

.title-wrapper {
  position: absolute;
  width: 80%;
  text-align: center;
  top: 2%;
}

.chips-wrap {
  width: 7%;
  position: absolute;
  top: 5%;
}
.mat-line.comment-content{
  white-space: normal;
  overflow: auto;
  display: block;
  box-sizing: border-box;
  text-overflow: initial;
  padding: 10px 5px 10px 5px!important;
  color:rgba(100,100,100,0.7);
}
.mat-list-base .mat-list-item.mat-2-line{
  height: 100%!important;
  padding: 15px;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: normal;
}
.comment-date{
  font-size:80%;
  color: rgba(100,100,100,0.7);
}

.comment-writer{
  color: #c60800;
}
.mat-card .mat-divider-horizontal {
  position: initial;
}

.profileImg {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 60px;
  width: 90px;
  margin: 0px;
}
