<div class="overlay">
  <div class="title-wrapper">
    <h3 class="mat-display-2" style="color: white;">
      {{ data.files[data.index].filename }}
    </h3>
  </div>

  <!--------------------------
  Button to close the ovelroay
  --------------------------->
  <button
    style="color: white;"
    mat-button
    matSuffix
    mat-icon-button
    aria-label="close"
    class="close-button"
    (click)="close()"
  >
    <mat-icon>clear</mat-icon>
  </button>

  <!--------------------------
  Chevron to cycle over the files (previous file)
  --------------------------->
  <mat-icon
    *ngIf="this.data.index - 1 >= 0"
    (click)="changeIndex(-1)"
    class="previous"
    style="font-size: 80px;"
    >chevron_left
  </mat-icon>

  <!--------------------------
  If else to display either image or build the plot with plotly
  --------------------------->
  <div *ngIf="data.category === 'image'" class="data-holder">
    <img
      mat-card-image
      [src]="getUrl(data.files[this.data.index])"
      alt="{{ data.files[this.data.index].filename }}"
    />
  </div>

  <div class="data-holder" *ngIf="data.category === 'plot'">
    <div #card>
      <plotly-plot
        id="plot"
        [data]="plots$ | async"
        [layout]="layout$ | async"
        [useResizeHandler]="true"
      >
      </plotly-plot>
    </div>
  </div>

  <!----------------
Chips to recap general information about the file
----------------->
  <div class="chips-wrap">
    <mat-chip-list aria-label="Information">
      <mat-chip
        *ngIf="data.category === 'plot'"
        (click)="
          openEditDialog(
            layoutBehaviourSubject.getValue(),
            data.files[this.data.index],
            plotBehaviourSubject.getValue()
          )
        "
      >
        <mat-icon>settings</mat-icon>
      </mat-chip>

      <mat-chip matTooltip="Package"
        >Package: {{ data.files[this.data.index].package }}</mat-chip
      >
      <mat-chip matTooltip="Id"
        >Id: {{ data.files[this.data.index].id }}</mat-chip
      >
      <mat-chip matTooltip="Filename" color="primary">{{
        data.files[this.data.index].filename
      }}</mat-chip>
      >
    </mat-chip-list>
  </div>

  <!--------------------------
  Chevron to cycle over the files (next file)
  --------------------------->
  <mat-icon
    *ngIf="this.data.index + 1 <= this.data.files.length - 1"
    (click)="changeIndex(1)"
    class="next"
    style="font-size: 80px;"
    >chevron_right
  </mat-icon>

  <!--------------------------
  Comments section
  --------------------------->
  <mat-card radius="24" class="mat-elevation-z3 comments">
    <div class="comment-count">
      <mat-list>
        <div mat-subheader>
          Comments for {{ data.files[data.index].filename }}
        </div>

        <!--------------------------
        List all comments
        --------------------------->
        <div *ngFor="let comment of data.files[this.data.index].comment">
          <mat-list-item>
            <!-- profile image -->
            <mat-icon
              mat-list-icon
              class="profileImg"
              [ngStyle]="{
                'background-image':
                  'url(' + generateImgUrl(comment.user.image) + ')'
              }"
            ></mat-icon>
            <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
            <div mat-line>
              <span class="comment-writer"
                >{{ comment.user.firstName }} {{ comment.user.lastName }}</span
              >
              |
              <small>{{ comment.createdAt | date }}</small>
            </div>
            <div mat-line class="comment-content">{{ comment.content }}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </div>
    <mat-divider></mat-divider>

    <!--------------------------
    Input field for new comment
    --------------------------->
    <div style="height: 20vh;">
      <form class="example-form" style="padding: 15px;">
        <mat-spinner
          *ngIf="sendingComment"
          color="primary"
          style="margin: auto;"
          diameter="20"
          strokeWidth="2"
        ></mat-spinner>
        <button
          *ngIf="!sendingComment"
          mat-button
          matSuffix
          [disabled]="sendingComment"
          aria-label="Send"
          class="send-button"
          (click)="sendComment()"
        >
          <mat-icon>send</mat-icon>
        </button>
        <mat-form-field
          class="example-full-width"
          style="width: 100%; margin-top: 10px;"
        >
          <mat-label>Leave a comment</mat-label>
          <textarea
            [formControl]="commentControl"
            matInput
            placeholder=""
          ></textarea>
        </mat-form-field>
      </form>
    </div>
  </mat-card>
</div>
