<mat-grid-list cols="3" rowHeight="8rem">
  <mat-grid-tile [colspan]="1" [rowspan]="5"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="5"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <img id="logo" src="/assets/logos/logo.png" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" class="content">
    <mat-card>
      <mat-card-title color="primary">Forgot my password</mat-card-title>
      <mat-card-content>
        <form
          *ngIf="forgetPasswordForm"
          [formGroup]="forgetPasswordForm"
          (ngSubmit)="onSubmit(forgetPasswordForm)"
        >
          <p>
            <mat-form-field class="input-field">
              <input
                type="text"
                matInput
                placeholder="Mail Address"
                formControlName="email"
                id="email"
                required
              />
              <mat-icon
                matSuffix
                matTooltip="Use the email address you've used to register"
                >info</mat-icon
              >
            </mat-form-field>
          </p>
          <p></p>
          <div id="buttons">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              id="login-button"
            >
              Send
            </button>
            <button
              (click)="router.navigate(['login'])"
              mat-raised-button
              color="primary"
              class="cancel"
            >
              Back to login
            </button>
          </div>
        </form>
        <br />
        <div *ngIf="userInfo" class="found">Hi {{ userInfo.firstName }} !</div>
        <div *ngIf="submitted" class="found">
          We just send you an email to reset your password
        </div>
        <div *ngIf="notfound && !userInfo" class="notfound">
          Sorry, this email seems do not have a zelin account
        </div>

        <div *ngIf="loading">
          <br />
          <p>Please wait a minute we are looking for your account ...</p>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
