.input-field {
  width: 100%;
}

mat-card {
  width: 50%;
  min-width: 280px;
  margin: 2em auto;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#logo {
  margin: auto;
  height: 100px;
}

mat-grid-tile.content {
  height: calc(21em + 1px);
}

a{
  padding-top:10px;
}

.found{
  color:rgb(13, 85, 13);
  font-weight:600;
}

.notfound{
  color: #c60800;
  font-weight:600;
}

input#email {
  height: 1.2rem;
  padding:5px;
}

.cancel {
  cursor: pointer!important;
  background-color: transparent;
  text-decoration: underline;
  box-shadow: none;
  color:rgba(0, 0, 0, 0.70)!important;
  font-weight: 400;
}

span.mat-button-wrapper:hover{
  color: #c60800!important;
}
